@{
    Layout = null;
}

<div class="title">
    <h1 class="alert-h1">Advertize on @Settings.SiteName</h1>
</div>
<div class="sidecontentbox content">
    <a href="@Url.Action("Advertize", "Home")">
        <img src="/Graphics/voat-ad-placeholder.png" alt="Advertize on @Settings.SiteName" />
    </a>
</div>