@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model IEnumerable<Whoaverse.Models.Defaultsubverse>

@{
    object routeDataObject = new object();
    string showingSubverse;
    string selectedFrontpageClass = "selected";
    string selectedClass = "selected";

    routeDataObject = ViewContext.RouteData.Values["activeSubverse"];

    if (routeDataObject != null)
    {
        showingSubverse = ViewContext.RouteData.Values["activeSubverse"].ToString();
        selectedFrontpageClass = "";
        selectedClass = "selected";
    }
    else
    {
        showingSubverse = null;
        selectedClass = "";
    }
    
}

    <div id="sr-header-area">
        <div class="width-clip">
            <div class="sr-list">
                <ul class="flat-list sr-bar hover">
                    <li>
                        <a href="/subverses/subscribed">my subverses</a>
                    </li>
                    <li class="@selectedFrontpageClass">
                        <span class="separator">-</span><a href="/">front</a>
                    </li>
                    <li>
                        <span class="separator">-</span><a href="/v/all">all</a>
                    </li>
                    <li>
                        <span class="separator">-</span><a href="/random" class="random">random</a>
                    </li>
                </ul>
                <ul class="flat-list sr-bar hover" id="sr-bar">

                    @foreach (var item in Model)
                    {
                        string tmpItem = "/v/" + item.name;
                        
                        if (tmpItem == showingSubverse)
                        {
                            selectedClass = "selected";
                        }
                        else
                        {
                            selectedClass = "";
                        }

                        <li class="@selectedClass">
                            <span class="separator">-</span>
                            <a href="/v/@item.name/">@item.name</a>
                        </li>
                    }

                </ul>

            </div><a href="/subverses" id="sr-more-link">more »</a>
        </div>
    </div>
