@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

<div class="markdownEditor">
    @* Markdown Editor Main Menu *@
    <div class="markdownEditorMainMenu">
        <a class="markdownEditorImgButton" style="background-position: 0px 0px;" alt="bold" title="Bold" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'**','**');"></a>
        <a class="markdownEditorImgButton" style="background-position: -32px 0px;" alt="italic" title="Italic" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'*','*');"></a>
        <a class="markdownEditorImgButton" style="background-position: -64px 0px;" alt="link" title="Link" onclick="$(this.parentElement.parentElement).find('#linkSubMenu').toggle();$(this.parentElement.parentElement).find('#url').focus();"></a>
        <a class="markdownEditorImgButton" style="background-position: -96px 0px;" alt="quote" title="Quote" onclick="addTagsToEachSelectedTextLine($(this.parentElement.parentElement.parentElement).find('textarea')[0],'>','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -128px 0px;" alt="code" title="Code" onclick="addCode($(this.parentElement.parentElement.parentElement).find('textarea')[0]);"></a>
        <a class="markdownEditorImgButton" style="background-position: -160px 0px;" alt="ul" title="Bullet List" onclick="addTagsToEachSelectedTextLine($(this.parentElement.parentElement.parentElement).find('textarea')[0],'* ','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -192px 0px;" alt="ol" title="Number List" onclick="addTagsToEachSelectedTextLine($(this.parentElement.parentElement.parentElement).find('textarea')[0],'1. ','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -224px 0px;" alt="br" title="Large Paragraph Spacing" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'\n\n&amp;nbsp;\n\n','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -0px -16px;" alt="hr" title="Horizontal Rule" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'\n\n----------\n\n','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -32px -16px;" alt="heading" title="Headings" onclick="$(this.parentElement.parentElement).find('#headingsSubMenu').toggle();"></a>
        <a class="markdownEditorImgButton" style="background-position: -64px -16px;" alt="table" title="Table" onclick="$(this.parentElement.parentElement).find('#tableCreatorSubMenu').toggle();"></a>
		<a class="markdownEditorImgButton" style="background-position: -128px -16px;" alt="spoiler" title="Spoiler" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'[](#s &quot;','&quot;)');"></a>
		<a class="markdownEditorImgButton" style="background-position: -160px -16px;" alt="spoiler" title="Strikethrough" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'<s>','</s>');"></a>
		<a class="markdownEditorImgButton" style="background-position: -192px -16px;" alt="spoiler" title="Superscript" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'<sup>','</sup>');"></a>
		<a class="markdownEditorImgButton" style="background-position: -224px -16px;" alt="spoiler" title="Subscript" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'<sub>','</sub>');"></a>
    </div>
    @* Markdown Editor Link Sub Menu *@
    <div class="markdownEditorSubMenu" id="linkSubMenu" style="display: none;">
        <input type="text" class="markdownEditorTextButton" id="url" placeholder="Enter the page url">
		<a class="markdownEditorTextButton" alt="create" title="Create Link" onclick="addHyperlink($(this.parentElement.parentElement.parentElement).find('textarea')[0],$(this.parentElement).find('#url')[0].value);$(this.parentElement).hide();$(this.parentElement).find('#url')[0].value = '';">Create link</a>
    </div>
    @* Markdown Editor Headings Sub Menu *@
    <div class="markdownEditorSubMenu" id="headingsSubMenu" style="display: none;">
        <a class="markdownEditorImgButton" style="background-position: -0px -32px;" alt="h1" title="Heading Level 1" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'#','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -32px -32px;" alt="h2" title="Heading Level 2" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'##','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -64px -32px;" alt="h3" title="Heading Level 3" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'###','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -96px -32px;" alt="h4" title="Heading Level 4" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'####','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -128px -32px;" alt="h5" title="Heading Level 5" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'#####','');"></a>
        <a class="markdownEditorImgButton" style="background-position: -160px -32px;" alt="h6" title="Heading Level 6" onclick="addTagsToSelectedText($(this.parentElement.parentElement.parentElement).find('textarea')[0],'######','');"></a>
    </div>
    @* Markdown Editor Table Creator Sub Menu *@
    <div class="markdownEditorSubMenu" id="tableCreatorSubMenu" style="display: none;">
        <input type="hidden" name="cols" id="numCols" value="1">
        <input type="hidden" name="rows" id="numRows" value="1">
        <a class="markdownEditorImgButton" style="background-position: 0px -48px;" alt="more_column" title="More Columns" onclick="incColumns($(this.parentElement).find('#numCols')[0],$(this.parentElement).find('#numColsDisplay')[0]);"></a>
        <a class="markdownEditorImgButton" style="background-position: -32px -48px;" alt="less_column" title="Less Columns" onclick="decColumns($(this.parentElement).find('#numCols')[0],$(this.parentElement).find('#numColsDisplay')[0]);"></a>
        <a class="markdownEditorImgButton" style="background-position: -64px -48px;" alt="more_rows" title="More Rows" onclick="incRows($(this.parentElement).find('#numRows')[0],$(this.parentElement).find('#numRowsDisplay')[0]);"></a>
        <a class="markdownEditorImgButton" style="background-position: -96px -48px;" alt="less_rows" title="Less Rows" onclick="decRows($(this.parentElement).find('#numRows')[0],$(this.parentElement).find('#numRowsDisplay')[0]);"></a>
        <a class="markdownEditorTextButton" alt="create" title="Create Table" onclick="createTable($(this.parentElement.parentElement.parentElement).find('textarea')[0],$(this.parentElement).find('#numCols')[0].value,$(this.parentElement).find('#numRows')[0].value);">Create <span id="numColsDisplay">1</span>x<span id="numRowsDisplay">1</span> table</a>
    </div>
</div>
