@model Whoaverse.Models.ViewModels.SearchViewModel

<div class="spacer">
    @*@using (Html.BeginForm("Search", "SearchController", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {*@

        @Html.AntiForgeryToken()
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", @placeholder = "Search whoaverse (coming soon)" })

    @*}*@
</div>