@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@using Whoaverse.Utils;
@using Whoaverse.Models.ViewModels

<div class="side">

    @Html.Partial("_SearchMinimal", new SearchViewModel ())

    <div class="spacer">
        <a href="/submit?linkpost=true" class="btn-whoaverse btn-block">
            Share a link
        </a>
    </div>

    <div class="spacer">
        <a href="/submit" class="btn-whoaverse btn-block">
            Start a discussion
        </a>
    </div>

    <div class="spacer">
        <div class="sidebox create">
            <a href="/subverses/create" class="btn-whoaverse btn-block">
                Create your own subverse
            </a>
            <div class="spacer">
                <a title="Create your own subverse" href="/subverses/create" id="create-a-subverse">
                    <img id="geewky" src="/Graphics/thumb-placeholder.png" alt=" whoaverse.com" height="40" width="40">
                </a>
                <div class="subtitle">@PromotionUtility.TwoRandomSubtitles()[0]</div>
                <div class="subtitle">@PromotionUtility.TwoRandomSubtitles()[1]</div>
            </div>
        </div>
    </div>

    <div class="spacer">
        <p>Subverses with most online users right now:</p>
        <hr />
        @{
            var mostActiveSubverses = Whoaverse.Utils.SessionTracker.MostActiveSubverses();
        }

        @foreach (var subverse in mostActiveSubverses)
        {
            <p>
                <a href="/v/@subverse.Name" class="subverse">/v/@subverse.Name</a>, users online: @subverse.UsersOnline.
            </p>
        }
    </div>
    <hr />
    <div class="spacer">
        <div class="centered">
            <p>Want to support WhoaVerse project?</p>
            <p>Help us pay for server costs and get a donor badge on your WhoaVerse profile.</p><br />
            <p>Our BitCoin address: <a href="bitcoin:1C4Q1RvUb3bzk4aaLVgGccnSnaHYFdESzY">1C4Q1RvUb3bzk4aaLVgGccnSnaHYFdESzY</a></p><br />
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="team@whoaverse.com">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="Donation to help with WhoaVerse server costs">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="bn" value="PP-DonationsBF:paypal_donate.png:NonHostedGuest">
                <input type="image" src="~/Graphics/Temp/paypal_donate.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        
    </div>

</div>
