@using Voat.Models.ViewModels

@{
    List<SubverseDetailsViewModel> subscriptionList = null;

    // get user subscriptions
    if (User.Identity.IsAuthenticated)
    {
        subscriptionList = Voat.Utils.User.UserSubscriptions(User.Identity.Name);
    }
}

<li>
    <a href="#">My subverses</a>
    <span class="drop-arrow"></span>
    <ul>
        <li><a href="/subverses/subscribed"><b>Edit your subscriptions</b></a></li>

        @if (subscriptionList != null)
        {
            foreach (var subverse in subscriptionList)
            {
                <li><a href="/v/@subverse.Name">@subverse.Name</a></li>
            }
        }
        else
        {
            <li><a href="#">You are not subscribed to any subverses.</a></li>
        }
    </ul>
</li>

