@{
    // get user subscriptions
    // populate the menu
}

<li>
    <a href="#">My subverses</a>
    <ul>
        <li><a href="#">This feature is coming soon.</a></li>
        <li><a href="/subverses/subscribed">Edit your subscriptions</a></li>
    </ul>
</li>
