@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model HandleErrorInfo

@{
    ViewBag.Title = "Whoops!";
}

<div class="content error-page" role="main">

    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Whoops!</h3>
            </div>
            <div class="panel-body centered">
                Well this is embarrassing. Something went wrong and let&#39;s face it, nobody&#39;s happy about it.
                We&#39;ll dispatch our monstersquad to take a look at it right away!
            </div>
        </div>
        <p class="text-center">
            <a href="~/"><img src="~/Graphics/404.png" class="img-responsive center-block" alt="Whoopsie Daisy!" /></a>

        </p>
        <p class="panel-footer centered">
            Thank you for being a chap.
        </p>
    </div>

</div>