


@model Voat.Domain.Models.DomainType

@{
    var type = Model.ToString().ToLower();
    var url = Request.Url.AbsolutePath.ToLower().TrimEnd('/');
    var phrase = Request.QueryString["phrase"];

}
<div>
    <h3>Search</h3>
    @using (Html.BeginForm("Index", "Discover", new { domainType = type }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <h2>@Html.ValidationSummary(true)</h2>
        @Html.TextBox("phrase", phrase, new { @class = "form-control", @placeholder = "Type a term to search for and press ENTER" })
        @Html.ValidationMessage("phrase")
        <input type="submit" class="btn-voat" value="Search" />
    }
    <hr />
</div>

