@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using Voat.Models.ViewModels

<div class="side">

    @Html.Partial("_SearchMinimal", new SearchViewModel())

    <div class="spacer">
        <a href="/submit?linkpost=true" class="btn-whoaverse btn-block">
            Share a link
        </a>
    </div>
    <div class="spacer">
        <a href="/submit" class="btn-whoaverse btn-block">
            Start a discussion
        </a>
    </div>
    <div class="spacer">
        <div class="sidebox create">
            <a href="/subverses/create" class="btn-whoaverse btn-block">
                Create your own subverse
            </a>
        </div>
    </div>
    <div class="spacer">
        <div class="sidebox">
            <a href="/p/partnerprogram" class="btn-whoaverse btn-block">
                Become a partner
            </a>
        </div>
    </div>
    <div class="spacer">
        <div class="sidebox">
            <a href="/subverses" class="btn-whoaverse btn-block">
                Explore Voat
            </a>
        </div>
    </div>
    <div class="spacer">
        <div class="alert-h1">
            Voat
        </div>
        <div class="sidecontentbox collapsible" id="moderation_tools">
            <div class="centered">
                <ul style="display: block;" class="content">
                    <li>
                        <ul class="flat-vert icon-menu hover">
                            <li class="centered">
                                <p>Want to support Voat project?</p>
                                <p>Tell your friends about us.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="spacer">
        <div class="centered">
            <a title="V2 is awesome!" href="/v2">
                <img src="~/Graphics/v2_ad.png" alt="Oh look, a flower!" height="108" width="276">
            </a>
        </div>
    </div>
    <div class="spacer">
        <div class="centered">
            <a title="Remembering the victims of the attack on Charlie Hebdo" href="http://en.wikipedia.org/wiki/Charlie_Hebdo">
                <img src="~/Graphics/black_ribbon.png" alt="Remembering the victims of the attack on Charlie Hebdo" height="68" width="48">
            </a>
        </div>
    </div>
</div>
