@model VoteOutcome

<div data-vote-item="Outcomes">
    <div class="form-horizontal" role="form">
      
        @if (Model is Voat.Voting.Outcomes.RemoveModeratorOutcome modOutcome)
        {
            @Html.Partial("_EditModeratorOutcomeFields", modOutcome)
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn-voat" onclick="voat.voting.removeItem(this, 'div[data-vote-item=\'Outcomes\']');">Remove</button>
            </div>
        </div>
    </div>
</div>
