@*
    This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat

    All Rights Reserved.*@

@{
    ViewBag.Title = "Advertize";
}

<div id="container">
    <div id="about-main" class="content about-page" role="main">

        <div class="alert-title">Advertize on @Settings.SiteName</div>
        <h1>Can I advertize on @Settings.SiteName?</h1>

        @if (!Settings.IsVoatBranded)
        {
            <p>
                We are still figuring this out :(
            </p>
        }
        else
        {
            <p>
                Yes. Voat now accepts standard graphic/text advertizements that are available for purchase.
            </p>
            <p>
                We respect our users. We will not run ads which distort the product's capabilities, or hide its defects, and we will do everything we can to protect our users from unethical advertizing. If we run an ad and our users report it as misleading, we will take it down.
            </p>
            <p>
                We believe that ads don't have to be obtrusive to be effective. We will only run static image ads (no animations) but we prefer text-only ads.
            </p>

            <h1>To Purchase an Ad:</h1>
            <div class="md">
                <ul>
                    <li>
                        Visit the Purchase Ad Placements page by clicking the button below.
                    </li>
                </ul>
            </div>
            <a href="https://store.voat.co/voat-sitewide-ad" class="btn-whoaverse btn-block contribute" style="max-width:200px;" target="_blank">
                Purchase Voat Sitewide Ad
            </a>
            <h1>Terms and Conditions:</h1>
            <div class="md">
                <ol>
                    <li>No refunds are issued once ad is placed</li>
                    <li>Ads are run sequentially, with no gaps in duration, for the number of days (24 hour period) the ad was purchased</li>
                    <li>All ads must be approved by Voat. Any ad not approved by Voat will be refunded within 7 days</li>
                    <li>No animated graphics are permitted (.png, .jpeg only)</li>
                    <li>Voat will not track number of clicks or impressions of ads</li>
                    <li>Voat reserves the right to schedule the start date of the ad</li>
                    <li>Prices may be changed at any time without further notice</li>
                    <li>Dimensions of graphic image must be between 270w x 100h - 270w x 540h</li>
                </ol>
            </div>
        }
        
    </div>
</div>
