@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    ViewBag.Title = "Advertize";
}

<div id="container">
    <div id="about-main" class="content about-page" role="main">
        <div class="alert-title">Advertize on Voat</div>
        <h1>Can I advertize on Voat?</h1>
        <p>
            We respect our users. We will not run ads which distort the product's capabilities, or hide its defects, and we will do everything we can to protect our users from unethical advertizing. If we run an ad and our users report it as misleading, we will take it down.
        </p>
        <p>
            We believe that ads don't have to be obtrusive to be effective. We will only run static image ads (no animations) but we prefer text-only ads.
        </p>
    </div>
</div>
