@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    ViewBag.Title = "FAQ";
}

<div id="container">
    <div id="about-main" class="content about-page" role="main">
        <div class="alert-title">Frequently Asked Questions</div>
        <h1><a name="customize" href="#customize" class="faqAnchor">How can I enable night mode and customize my profile?</a></h1>
        <p>
            You can use your <a href="/account/manage">account management page</a> to enable night-mode, add a profile photo or avatar, write a short bio and further personalize your account.
        </p>
        <h1><a name="selfPromotion" href="#selfPromotion" class="faqAnchor">Can I submit links to sites I operate?</a></h1>
        <p>
            Submitting only links to sites you operate (or are associated with), without submitting other, unrelated links, is considered spamming. If you submit niche content (for example gaming videos from your own YouTube channel), you should create your own subverse and submit the content only to that subverse.
            If majority of the links you submit are to sites you are associated with, your domains may be globally banned from Voat. To be on the safe side, if you submit 10 links to various subverses on Voat, at most 2 of the 10 submitted links may be to the sites you are associated with.
        </p>
        <h1><a name="submitAnySubverse" href="#submitAnySubverse" class="faqAnchor">Can I submit links to any subverse I want?</a></h1>
        <p>
            Each subverse has its own rules which are usually stated in the respective subverse's sidebar. If you ignore said rules, your account may be banned from submitting further content to the subverse or in some cases, globally.
        </p>
        <h1><a name="subverseSquatting" href="#subverseSquatting" class="faqAnchor">Can I register subverses and not use them?</a></h1>
        <p>
            We have multiple automated mechanisms in place which purge unused subverses. As soon as you register your subverse, you should submit at least one post and edit the sidebar.
            If you abandon your subverse, you may lose it if someone else requests to take it over.
        </p>
        <h1><a name="subverseInactive" href="#subverseInactive" class="faqAnchor">When is a sub considered inactive/abandoned?</a></h1>
        <p>
            While Voat is in alpha, we will be freeing up unused/inactive subs by deleting them or transferring them to users who submit a subverse transfer request in <a href="/v/subverserequest">/v/subverserequest</a>.
            As a subverse owner, at least once a month, you should start at least one discussion in your sub, or submit at least one link to your sub. Furthermore, at least once a month, you should submit at least one comment to a discussion/link posted in your sub. If you fail to do anything of the above, your sub will be considered as abandoned/inactive and it may be deleted or transferred to another moderator (or any eligible user if no moderator meets the aforementioned activity requirements) which makes a request in <a href="/v/subverserequest">/v/subverserequest</a>.
        </p>
        <h1><a name="censorship" href="#censorship" class="faqAnchor">Will you censor comments and submissions?</a></h1>
        <p>
            While we don't necessarily approve or agree with all content that users submit to Voat, our policy is to not meddle and not censor content unless said content is illegal in the United States.
        </p>
        <h1><a name="recoverPassword" href="#recoverPassword" class="faqAnchor">I forgot my password. Can you reset it for me?</a></h1>
        <p>
            Unfortunately, there is nothing we can do to help you reset your password.
        </p>
        <h1><a name="requestSubverse" href="#requestSubverse" class="faqAnchor">I wanted to register a subverse, but it is already registered and it looks abandoned. Can I take it over?</a></h1>
        <p>
            In most cases, yes. You can request to "adopt a subverse" by submitting a post to <a href="/v/subverserequest">/v/subverserequest</a> (if you meet the necessary requirements).
        </p>
        <h1><a name="developer" href="#developer" class="faqAnchor">I am a developer, how can I contribute to Voat?</a></h1>
        <p>
            You can join us on <a href="/v/voatdev">/v/voatdev</a> and you can take a look at the <a href="https://github.com/voat/voat/issues">open issues</a> on GitHub.
            We are always on the lookout for dedicated developers and if we like your contributions, we may offer you equity and a position at Voat.
        </p>
        <h1><a name="suggest" href="#suggest" class="faqAnchor">I want to make a suggestion to Voat, where can I do it?</a></h1>
        <p>
            You can submit your suggestion to <a href="/v/IdeasForVoat">/v/IdeasForVoat</a>.
        </p>
        <h1><a name="help" href="#help" class="faqAnchor">I have more questions, where can I ask them?</a></h1>
        <p>
            You can submit your question to <a href="/v/help">/v/help</a>.
        </p>
    </div>
</div>
