@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    ViewBag.Title = "Speedy Gonzales";
    string cameFrom = Request.UrlReferrer.AbsolutePath;
}

<div id="about-main" class="content about-page" role="main">

    <div class="container">

        <h1 class="text-center">@ViewBag.Title</h1>
        <br />
        <h1 class="text-center">Hey there! You are doing that too fast. Care to try again later?</h1>        
        <br />
        <br />
            <a href="@cameFrom"><img src="~/Graphics/voat-goat.png" class="img-responsive center-block" alt="Well hello there!" /></a>
        <p class="panel-footer centered">
            Try again?
        </p>

    </div>
    
</div>
