@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    ViewBag.Title = "User agreement";
}

<div id="container">
    <div id="about-main" class="content about-page" role="main">

        <h1>User agreement </h1>
        <p>
            This agreement is a legal contract between you and us. You acknowledge that you have read, understood, and agree to be bound by the terms of this agreement. If you do not agree to this agreement, you should not use voat.
        </p>
        <h1>Your access to voat</h1>
        <p>
            Without advance notice and at any time, we may, for violations of this agreement or for any other reason we choose: (1) suspend your access to voat, (2) suspend or terminate Your Account, and/or (3) remove any of your User Content from voat.
            We reserve the right to monitor voat, and your use of the Service means you agree to such monitoring. At the same time, we do not guarantee we will monitor at all.
        </p>

        <h1>voat is for your personal, lawful use</h1>
        <p>
            voat is designed and supported for personal use only. You may not use voat to break the law, violate an individual's privacy, or infringe any person or entity’s intellectual property or any other proprietary rights.
            We are not responsible for any decisions you make based on something you read on voat.
        </p>

        <h1>Your voat account</h1>
        <p>
            To participate on voat, you must create an account that includes a username and password ("Your Account") and, if you want to be able to reset your password or have us contact you, an email address as well. Of course, you can also browse voat without logging in.
            You are solely responsible for the information associated with Your Account and anything that happens related to Your Account. You may not license, transfer, sell, or assign Your Account without our written approval.
        </p>

        <h1>Content</h1>
        <p>
            You retain the rights to your copyrighted content or information that you submit to voat ("user content") except as described below.
        </p>
        <p>
            By submitting user content to voat, you grant us a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to authorize others to do so.
            You agree that you have the right to submit anything you post, and that your user content does not violate the copyright, trademark, trade secret or any other personal or proprietary right of any other party.
            We take no responsibility for, we do not expressly or implicitly endorse, and we do not assume any liability for any user content submitted by you to voat.
        </p>

        <h1>Links</h1>
        <p>
            voat is a place with many third-party hyperlinks posted by users like you. We are not responsible for the content or actions of any third party websites or services associated with posted links. You agree to take sole legal responsibility for any links you post, and neither this agreement nor our privacy policy applies to any content on other websites related to those links.
        </p>

        <h1>Rules</h1>
        <p>
            These guidelines are intended to keep people safe, protect kids, keep voat running, and to encourage personal responsibility for what you do on voat. You must:
            Keep Everyone Safe: You agree to not intentionally jeopardize the health and safety of others or yourself.
            Keep Personal Information Off voat: You agree to not post anyone's sensitive personal information that relates to that person's real world or online identity.
            Do Not Incite Harm: You agree not to encourage harm against people.
            Protect Kids: You agree not to post any child pornography or sexually suggestive content involving minors.
            Take Personal Responsibility: As you use voat, please remember that your speech may have consequences and could lead to criminal and civil liability.
        </p>
        <p>
            Subverses may create their own rules and enforce them as they see fit, providing they do not violate the terms of this agreement.
            You agree that voat is not responsible for the actions taken or not taken by moderators.
        </p>

        <h1>Moderators</h1>
        <p>
            Moderating a subverse is an unofficial, voluntary position. We reserve the right to revoke that position for any user at any time.
            You may not perform moderation actions in return for any form of compensation or favor from third-parties.
            When you receive notice that there is content that violates this user agreement on subverses you moderate, you agree to remove it.
        </p>

        <h1>Spam</h1>
        <p>
            You may not post any graphics, text, photographs, images, video, audio or other material that we deem to be junk or spam.
        </p>

        <h1>Respect other users</h1>
        <p>
            You may not purposefully negate any user's actions to delete or edit their content on voat.
            This is intended to respect the privacy of voat users who delete or edit their content, and is not intended to abridge the fair use or the expressive rights shared by us all.
        </p>

        <h1>Security</h1>
        <p>
            Please don't hack us :) We support the responsible reporting of security vulnerabilities. To report a voat security issue, please send an email to security@voat.co
        </p>

        <h1>Children and voat</h1>
        <p>
            Voat is not directed at people under the age of 13, and voat does not knowingly collect any personal information from such people. If you know that a user under the age of 13 is accessing voat, please contact us by
            sending an email to hello@voat.co.
        </p>

        <h1>DMCA</h1>
        <p>
            We will respond to legitimate requests under the Digital Millennium Copyright Act ("DMCA"), and we retain the right to remove user content on voat that we deem to be infringing the copyright of others.
            If you become aware of user content on voat that infringes your copyright rights, you may submit a properly formatted DMCA request (see 17 U.S.C. § 512) to voat.
        </p>
        <p>
            Misrepresentations of infringement can result in liability for monetary damages. You may want to consult an attorney before taking any action pursuant to the DMCA.
            Any DMCA request should be sent to this contact information:

            Copyright Agent
            copyright@voat.co

            Please send our Copyright Agent the following information:

            The electronic or physical signature of the owner of the copyright or the person authorized to act on the owner's behalf;
            Identification of the copyrighted work claimed to have been infringed, or a representative list of such works;
            The URL or Internet location of the materials claimed to be infringing or to be the subject of infringing activity, or information reasonably sufficient to permit us to locate the material;
            Your name, address, telephone number and email address;
            A statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent or the law; and
            A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or are authorized to act on the copyright owner's behalf.
        </p>

        <p>
            If you believe User Content was wrongly removed from the voat site due to a DMCA request, you may request a copy of the DMCA notice and you may file a counter-notification by sending us the following:
        </p>
        <p>
            Your physical or electronic signature;
            Identification of the material that has been removed or to which access has been disabled and where the material was located online before it was removed or access to it was disabled;
            A statement by you, under penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and
            Your name, address, and telephone number, and a statement that you consent to the jurisdiction of federal district court for the judicial district in which the address is located, or if your address is outside of the United States, for any judicial district in which the service provider may be found, and that you will accept service of process from the person who provided notification under DMCA 512 subsection (c)(1)(c) or an agent of such person.
        </p>

        <h1>Indemnity</h1>
        <p>
            All the things you do and all the information you submit or post to voat remain your responsibility. Indemnity is basically a way of saying that you will not hold us legally liable for any of your user content or actions that infringe the law or the rights of a third party or person in any way.
        </p>
        <p>
            Specifically, you agree to hold voat, its affiliates, officers, directors, employees, agents, and third party service providers harmless from and defend them against any claims, costs, damages, losses, expenses, and any other liabilities, including attorneys’ fees and costs, arising out of or related to your access to or use of voat, your violation of this user agreement, and/or your violation of the rights of any third party or person.
        </p>

        <h1>Disclaimer of warranties</h1>
        <p>
            voat is provided "as is" and without warranty of any kind. To the maximum extent permitted by law, we and our affiliates and third party service providers disclaim any and all warranties, express or implied,
            including (but not limited to) implied warranties of merchantability, fitness for a particular purpose, and non-infringement of proprietary rights, or any other warranty, condition, guarantee or representation, whether oral or electronic.
            You are solely responsible for any damage to your computer or mobile device, loss of use, or loss of your user content.
            We do not guarantee that voat will always work properly.
        </p>

        <h1>Limitation of liability</h1>
        <p>
            We will not be liable for any special, consequential, indirect, incidental, punitive, reliance, or exemplary damages, whether in tort, contract, or any other legal theory,
            arising out of or in any way connected with this agreement or your use of or attempt to use voat, including (but not limited to) damages for loss of profits, goodwill, use, or data.
            This limitation on liability shall not be affected even if we have been advised of the possibility of such damages.
            Some states do not allow for the exclusion of implied warranties or the limitation or exclusion of liability for incidental or consequential damages, so the above exclusions may not apply to you.
            You may have other rights that vary from state to state.
        </p>
        <p>
            You agree to release us, our affiliates, and third-party service providers, and each associated director, employee, agents, and officers, from claims, demands and damages (actual and consequential), of every kind and nature, known and unknown, disclosed or undisclosed, arising out of or in any way connected to your use of voat.
        </p>
        <p>
            The headings in this agreement are for convenience and do not control any of its provisions.
        </p>

        <h1>Updates</h1>
        <p>
            This Privacy Policy was last updated on: Thursday, November 21st, 2013. Should we update, amend or make any changes to our privacy policy, those changes
            will be posted here.
            This user agreement is effective as of May 9, 2014.
        </p>

    </div>
</div>