@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@{
    ViewBag.Title = "About";
}

<div id="about-main" class="content about-page" role="main">


    <div class="container">

        <h1 class="text-center">@ViewBag.Title</h1>
        <p class="text-center">
            This project is in early alpha stage.<br />
            Whoaverse™ is a hobby project created by a third year student at Ekonomihögskolan in Lund, Sweden.
            The project was officially launched in April 2014.
        </p>
        <br />
        <p class="text-center">
            What makes whoaverse stick out from similar comunities is the focus on user privacy.
            Users can completely delete their accounts together with all comments they made, all voting history and all submissions they posted.
        </p>
        <br />
        <p class="text-center">
            You are welcome to ask questions and join discussions over at our <a href="/v/whoaversedev">dev subverse</a>.
        </p>
        <br />
        <h1 class="text-center">Attribution Information</h1>
        <p class="text-center">
            This website uses cascading stylesheet portions which are provided under CPAL by Reddit Inc.<br />
            Copyright (c) 2006-2013 reddit Inc. All Rights Reserved.
            Original stylesheet file can be found here:<br />
            <a href="https://github.com/reddit/reddit/blob/master/r2/r2/public/static/css/reddit.less">reddit.less at github</a>
            <br />
            Attribution link: <a href="http://code.reddit.com">code.reddit.com</a>
        </p>
        <br />
        <p class="text-center">
            This website uses Markdowndeep, open source C# implementation of Markdown processor which is provided under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License Version 2.0</a> and is available <a href="http://www.toptensoftware.com/markdowndeep/">here</a>.
        </p>
        <br />
        <h1 class="text-center">Logo</h1>
        <a href="~/"><img src="~/Graphics/whoaverse-mascot.png" class="img-responsive center-block" alt="Hey there!" /></a>
        <p class="panel-footer centered">
            This is the oficial whoaverse mascot. Hi, nice to meet you!
        </p>

        <h1 class="text-center">Logo usage guidelines</h1>
        <p class="text-center">
            We require a license to use the logo in anything outside whoaverse, both for free and for profit. We do this in order to maintain our trademark and to protect our users from rogue apps & websites.
        </p>

    </div>


</div>