@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@{
    ViewBag.Title = "A quick introduction to whoaverse";
}
<style>
    .p {
        font-size: 35px;
    }
</style>

<div id="about-main" class="content about-page" role="main">


    <div class="container">

        <p>Hello and welcome! It is great to have you here.</p>

        <h1>A quick introduction to whoaverse</h1>
        <p>
            So, what is whoaverse?<br />
            whoaverse is a website about <b>everything</b> where stories are created by its users.<br />
            What makes whoaverse so great is that users can vote and decide which content gets to reach the frontpage.<br /><br />
            We don't censor content (unless it is illegal) and we don't let anyone game the voting system.
        </p>
        <h1>How does whoaverse work?</h1>
        <p>Start by <a href="/Account/Register">registering a free account</a> if you want to participate in voting, submit new stories or comments. <b>We never ask you for your email address or other personal info.</b></p>
        <p>Once you are logged in, you can start voting, submitting new stories and comments.</p>
        <p>You can also <a href="/subverses/create">create your own community</a>, so called subverse.</p>
   
        <h1>Logo</h1>
        <a href="~/"><img src="~/Graphics/whoaverse-mascot.png" class="img-responsive center-block" alt="Hey there!" /></a>
        <p class="panel-footer centered">
            This is the oficial whoaverse mascot. Hi, nice to meet you!
        </p>

        <h1>Logo usage guidelines</h1>
        <p>
            We require a license to use the logo in anything outside whoaverse, both for free and for profit. We do this in order to maintain our trademark and to protect our users from rogue apps & websites.
        </p>


    </div>


</div>