@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@{
    ViewBag.Title = "A quick introduction to whoaverse";
}
<style>
    .p {
        font-size: 35px;
    }
</style>

<div id="about-main" class="content about-page" role="main">

    <div class="container">

        <p class="intro-text">Hello and welcome! It is great to have you here.</p>

        <h1>A quick introduction to whoaverse</h1>
        <p class="intro-text">
            So, what is whoaverse? Whoaverse is a website about <b>everything</b> where stories are created by its users.<br />
            What makes whoaverse so great is that users can vote and decide which content gets to reach the frontpage.<br /><br />
            We don't censor content (unless it is illegal) and we don't let anyone "game" the voting system.
        </p>
        <h1>Do I have to register?</h1>
        <p class="intro-text">
            You can use whoaverse without registering, just jump right in and start exploring.<br />
            You can start browsing <a href="/subverses">existing subverses</a> right away.<br />
            As a guest, you will not be able to vote, comment or submit new links and stories, however. This is solely in order to prevent spam.
        </p>
        <h1>How can I become an active member?</h1>
        <div class="circle-step">1</div>
        <div style="display: inline-block;">
            <p class="intro-text">
                Start by <a href="/Account/Register">registering a free account</a>, (no e-mail adress needed) if you want to participate in voting or if you want to submit new stories or comments.
                <br />
            </p>
        </div>
        <br /><br />
        <div class="circle-step">2</div>
        <div style="display: inline-block;">
            <p class="intro-text">
                Once you are logged in, you can start submitting new <a href="/submit">stories</a>, <a href="/submit?linkpost=true">links</a> and comments or vote on existing comments and submissions.
            </p>
        </div>
        <br /><br />
        <div class="circle-step">3</div>
        <div style="display: inline-block;">
            <p class="intro-text">
                You can also <a href="/subverses/create">create your own community</a>, known as subverse.
            </p>
        </div>       
        <h1>Does it cost anything?</h1>
        <p class="intro-text">
            Whoaverse is and always will be free.<br />
            We earn money through donations and unobtrusive advertizing.
        </p>
        <h1>What about privacy?</h1>
        <p class="intro-text">
            You can delete your account at any time.<br />
            Deleting your account will automatically delete all your posts, comments and voting history.
        </p>

    </div>


</div>