@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    ViewBag.Title = "A quick introduction to Voat";
}

<style>
    .p {
        font-size: 35px;
    }
</style>

<div id="container">
    <div id="about-main" class="content about-page" role="main">
        <h1>A quick introduction to Voat</h1>
        <p class="intro-text">
            So, what is Voat? Voat is a website that aggregates stories and links submitted by its users.<br />
            Stories and links are organized in communities called subverses. Here are a few examples of existing subverses: news, images, videos, jokes, programming, gaming etc.<br />
            Users can also create their own communities for a school, a charity, a gaming clan, a book club, a cause, anything goes, and decide what kind of content they want to receive from other users.<br />
            Users can submit links to other websites (news, articles, videos, images etc.) and other users can vote to decide if the links are worthy of sharing with other users.<br />
            Users can also submit text stories (essays, jokes, random thoughts etc.) and other users can again vote to decide if the story is interesting or not.<br />
        </p>
        <h1>Do I have to register?</h1>
        <p class="intro-text">
            You can use Voat without registering, just jump right in and start exploring.<br />
            You can start browsing <a href="/subverses">existing subverses</a> right away.<br />
            However, as unregistered guest, you will not be able to vote, comment or submit new links and stories. This is solely in order to prevent spam.
        </p>
        <h1>How can I become an active member?</h1>
        <div class="circle-step">1</div>
        <div style="display: inline-block;">
            <p class="intro-text">
                Start by <a href="/Account/Register">registering a free account</a> (no e-mail address is needed!)
                <br />
            </p>
        </div>
        <hr />
        <div class="circle-step">2</div>
        <div style="display: inline-block;">
            <p class="intro-text">
                Once you are logged in, you can start submitting new <a href="/submit">stories</a>, <a href="/submit?linkpost=true">links</a> and comments or vote on existing comments and submissions.
            </p>
        </div>
        <hr />
        <div class="circle-step">3</div>
        <div style="display: inline-block;">
            <p class="intro-text">
                You can also <a href="/subverses/create">create your own community</a>
            </p>
        </div>
        <h1>Does it cost anything?</h1>
        <p class="intro-text">
            Voat is free (although we gladly take donations).<br />
        </p>
        <h1>What makes Voat different from other similar communities?</h1>
        <p class="intro-text">
            We go out of our way to give back to the users and safeguard their privacy.<br />
            Users have control over their data and they can leave at any time and delete their data.<br />
            <br />
            What truly sets Voat apart from competitors is the fact that we give back to the users.<br />
            Users can apply to join our partner program and earn money (a percentage of our ad revenue) for the stories, links and comments that they submit.<br /><br />
            <a href="/p/partnerprogram">Click here </a> if you want to learn more about our partner program.
        </p>
        <h1>Ok, how do I get started?</h1>
        <p class="intro-text">
            <a class="btn btn-whoaverse" href="/account/register" role="button">Get an account</a>
        </p>
</div>
</div>