<?xml version="1.0" encoding="utf-8"?>
<!--

  This source file is subject to version 3 of the GPL license,
  that is bundled with this package in the file LICENSE, and is
  available online at http://www.gnu.org/licenses/gpl-3.0.txt;
  you may not use this file except in compliance with the License.

  Software distributed under the License is distributed on an
  "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express
  or implied. See the License for the specific language governing
  rights and limitations under the License.

  All portions of the code written by Voat, Inc. are Copyright(c) Voat, Inc.

  All Rights Reserved.

-->
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="voat.CacheHandler" type="Voat.Caching.CacheHandlerSection, Voat.Business" requirePermission="false" />
    <section name="voat.Rules" type="Voat.RulesEngine.RuleSection, Voat.RulesEngine" requirePermission="false" />
    <section name="voat.Logging" type="Voat.Logging.LogSection, Voat.Logging" requirePermission="false" />
  </configSections>

  <voat.Logging configFile="Logging.config">
    <logger enabled="false" name="Log4Net" type="Voat.Logging.Log4NetLogger, Voat.Logging" />
    <logger enabled="false" name="Null" type="Voat.Logging.NullLogger, Voat.Logging" />
  </voat.Logging>

  <voat.CacheHandler>
    <handler enabled="true" type="Voat.Caching.RedisCacheHandler, Voat.Business" arguments="127.0.1:6379,defaultDatabase=7,allowAdmin=true" />
    <handler enabled="false" type="Voat.Caching.MemoryCacheHandler, Voat.Business" arguments="" />
    <handler enabled="false" type="Voat.Caching.NullCacheHandler, Voat.Business" arguments="" />
  </voat.CacheHandler>

  <voat.Rules>
    <rules enabled="true" discoverRules="true" discoverAssemblies="Voat.Business">
      <rule enabled="false" type="Voat.Tests.Rules.TestDeniedRule, Voat.Tests" />
      <rule enabled="false" type="Voat.Tests.Rules.TestPassRule, Voat.Tests" />
    </rules>
  </voat.Rules>

  <connectionStrings>

    <!--
    Your [TESTING] connection strings goes here
    **********************************************************************************************************
    WARNING - WARNING - WARNING - WARNING - WARNING - WARNING - WARNING - WARNING
    WARNING - WARNING - WARNING - WARNING - WARNING - WARNING - WARNING - WARNING
    WARNING - WARNING - WARNING - WARNING - WARNING - WARNING - WARNING - WARNING
    WARNING - WARNING - WARNING - WARNING - WARNING - WARNING - WARNING - WARNING
    **********************************************************************************************************
    The database this connection string points to will be DROPPED and RECREATED when the unit tests are run.
    **********************************************************************************************************
    DO NOT POINT THIS CONNECTION STRING TO A LIVE PRODUCTION OR TESTING DATABASE - YOU WILL LOSE ALL DATA
    **********************************************************************************************************
    POINT THIS CONNECTION STRING TO AN EMPTY DATABASE
    **********************************************************************************************************
    -->
    <add name="voatUsers" connectionString="data source={server};initial catalog={users-database};User ID={userid};Password={password};Trusted_Connection=False;persist security info=True;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
    <add name="voatEntities" connectionString="metadata=res://Voat.Data/Models.VoatEntityDataModel.csdl|res://Voat.Data/Models.VoatEntityDataModel.ssdl|res://Voat.Data/Models.VoatEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={server};initial catalog={database};User ID={userid};Password={password};persist security info=True;MultipleActiveResultSets=True;App=Voat.Tests;Max Pool Size=1024;Pooling=true;Timeout=60;&quot;" providerName="System.Data.EntityClient" />
    <add name="voatEntitiesReadOnly" connectionString="metadata=res://Voat.Data/Models.VoatEntityDataModel.csdl|res://Voat.Data/Models.VoatEntityDataModel.ssdl|res://Voat.Data/Models.VoatEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={server};initial catalog={database};User ID={userid};Password={password};persist security info=True;MultipleActiveResultSets=True;App=Voat.Tests;Max Pool Size=1024;Pooling=true;Timeout=60;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    
    <!-- ASP.NET Settings -->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
    
    <!-- Website Settings -->
    <add key="siteName" value="Voat" />
    <add key="siteSlogan" value="Voat - have your say" />
    <add key="siteDescription" value="a community platform where you can have your say. No censorship." />
    <add key="siteKeywords" value="voat, voat.co, vote, submit, comment" />
    <add key="footerText" value="&amp;copy; 2016 Voat, Inc. All rights reserved. Voat and the Voat Mascot are trademarks of Voat, Inc." />
    <add key="siteLogo" value="/Graphics/voat-logo.png" />
    <add key="cookieDomain" value=".voat.co" />
    <add key="siteDomain" value="voat.co" />
    <add key="captchaDisabled" value="false" />
    <add key="recaptchaPublicKey" value="{recaptcha-key}" />
    <add key="recaptchaPrivateKey" value="{recaptcha-key}" />
    
    <!-- Rule Thresholds -->
    <add key="minimumAccountAgeInDaysForSubverseCreation" value="30" />
    <add key="minimumSubmissionPointsForSubverseCreation" value="10" />
    <add key="minimumCommentPointsForSubverseCreation" value="10" />
    <add key="minimumCommentPointsForCaptchaSubmission" value="25" />
    <add key="minimumCommentPointsForCaptchaMessaging" value="100" />
    <add key="maximumOwnedSubs" value="10" />
    <add key="maximumOwnedSets" value="20" />
    <add key="forceHTTPS" value="false" />
    <add key="dailyPostingQuotaPerSub" value="10" />
    <add key="dailyGlobalPostingQuota" value="5" />
    <add key="dailyVotingQuota" value="100" />
    <add key="hourlyGlobalPostingQuota" value="3" />
    <add key="hourlyPostingQuotaPerSub" value="3" />
    <add key="dailyCrossPostingQuota" value="2" />
    <add key="dailyPostingQuotaForNegativeScore" value="3" />
    <add key="dailyCommentPostingQuotaForNegativeScore" value="10" />
    <add key="dailyCommentPostingQuota" value="20" />
    <add key="hourlyCommentPostingQuota" value="10" />
    <add key="maxAllowedAccountsFromSingleIP" value="100" />
    
    <!-- Runtime Settings -->
    <add key="runtimeState" value="Enabled" />
    <add key="signalrDisabled" value="false" />
    <add key="setsDisabled" value="true" />
    <add key="cacheDisabled" value="false" />
    <add key="registrationDisabled" value="false" />
    <add key="useContentDeliveryNetwork" value="true" />
    <add key="destinationPathThumbs" value="~/Storage/Thumbs" />
    <add key="destinationPathAvatars " value="~/Storage/Avatars" />
    <add key="adsEnabled" value="true" />
    <add key="apiKeyCreationEnabled" value="true" />
    <add key="redirectToSiteDomain" value="false" />
    
    <!-- Obsolete settings -->
    <add key="legacyApiEnabled" value="false" />

    <!-- Voat Settings -->
    <add key="StorageConnectionString" value="{voat use}" />
    <add key="emailServiceKey" value="{voat use}" />

  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
