<?xml version="1.0" encoding="utf-8"?>
<log4net>

  <root>
    <level value="All" />
  </root>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <threshold value="DEBUG"/>
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="{connection-string}" />
    <commandText value="INSERT [dbo].[EventLog] (
			[ParentID], [ActivityID], [UserName], [Origin], [Type], [Message], [Category], [Exception], [Data], [CreationDate]
        ) VALUES (
			@ParentID, @ActivityID, @UserName, @Origin, @LogType, @Message, @Category, @Exception, @Data, @CreationDate
    )" />
    <parameter>
      <parameterName value="@ParentID" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ParentID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ActivityID" />
      <dbType value="Guid" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ActivityID" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@UserName" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="UserName" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Origin" />
      <dbType value="String" />
      <size value="20" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="Origin" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@LogType" />
      <dbType value="String" />
      <size value="300" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="LogType" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Message" />
      <dbType value="String" />
      <size value="1500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Category" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="Category" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Exception" />
      <dbType value="String" />
      <size value="100000" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="Exception" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@Data" />
      <dbType value="String" />
      <size value="100000" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="Data" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@CreationDate" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="CreationDate" />
      </layout>
    </parameter>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\log_rolling.txt" />
    <appendToFile value="true" />
    <maximumFileSize value="4096KB" />
    <maxSizeRollBackups value="2" />
    <threshold value="DEBUG"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value='{"date":"%property{CreationDate}","level":"%property{LogType}","activityID":"%property{ActivityID}","userName":"%property{UserName}","origin":"%property{Origin}","category":"%property{Category}","message":"%message","data":%property{Data},"exception":"%property{Exception}"}%newline' />
    </layout>
  </appender>

  <logger name="General" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="AdoNetAppender" />
    <appender-ref ref="RollingFileAppender" />
  </logger>

  <!-- You can create multiple backend destinations below -->
  <!--
  <logger name="Command" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="EventSourceAppender" />
  </logger>

  <logger name="Event" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="EventSourceAppender" />
  </logger>
  
  -->

</log4net>
