@{
    ViewBag.Title = "Subverse Disabled";
}

@model HandleErrorInfo

@{
    ViewBag.Title = "Subverse Disabled";
}

<div class="content error-page" role="main">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Subverse Disabled</h3>
            </div>
            <div class="panel-body centered">
                <h1>The subverse you were looking for has been disabled and is no longer accessible.</h1>
                <p>If you are a moderator of this subverse you may contact Voat for information regarding why this subverse is no longer active.</p>
                <p class="text-center">
                    <a href="~/"><img src="~/Graphics/404.png" style="width:100%;max-width:450px;" class="img-responsive center-block" alt="Whoopsie Daisy!" /></a>
                </p>
            </div>
        </div>
    </div>
</div>

