@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@{
    ViewBag.Title = "FAQ";
}

<div id="about-main" class="content about-page" role="main">
    <div class="md">
        <p class="heading-2">Frequently asked questions</p>
        <hr />
        <p class="heading-2">Spam, Cheating, and the Like</p>
        <p class="heading-3">Is it okay to create multiple accounts?</p>
        Yes, you can create multiple/throwaway accounts as long as you do not do so to ghost vote your own submissions.
        <p class="heading-3">What constitutes spam?</p>
        It's a gray area, but some rules of thumb:

        It's not strictly forbidden to submit a link to a site that you own or otherwise benefit from in some way, but you should sort of consider yourself on thin ice.
        So please pay careful attention to the rest of these bullet points.
        <ul>
            <li>
                If your contribution to whoaverse consists mostly of submitting links to a site(s) that you own or otherwise benefit from in some way, and additionally
                if you do not participate in discussion, or reply to peoples questions, regardless of how many upvotes your submissions get, you are a spammer.
                If over 10% of your submissions are your own site/content/affiliate links, you're almost certainly a spammer.
            </li>
            <li>If people historically downvote your links or ones similar to yours, and you feel the need to keep submitting them anyway, they're probably spam.</li>
            <li>
                If people historically upvote your links or ones like them -- and we're talking about real people here, not sockpuppets or people you asked to go vote for you -- congratulations!
                It may not be spam! However, you still need to follow the guidelines for self promotion.
            </li>
            <li>If nobody's submitted a link like yours before, give it a shot. But don't flood the new queue; submit one or two times and see what happens.</li>
        </ul>

        To play it safe, write to the moderators of the community you'd like to submit to. They'll probably appreciate the advance notice.
        They might also set community-specific rules that supersede the ones above. And that's okay -- that's the whole point of letting people create their own whoaverse communities and define what's on
        topic and what's spam.

        If you're thinking of doing any self-promotion on whoaverse, you might want to read this first:
        <p class="heading-2">Guidelines for self-promotion</p>
        <ul>
            <li>You should not just start submitting your links - it will be unwelcome and may be removed as spam, or your account willl be banned as spam.</li>
            <li>You should submit from a variety of sources (a general rule of thumb is 10% or less of your links should be your own site), talk to people in the comments (and not just on your own links), and generally be a good member of the community.</li>
            <li>You should not vote up only things from your domain or project, or have any other employees or fans do the same. Every user should evaluate and vote on each submission or comment based on the value when they read it. Only submitting on, or voting on, one particular person, domain, or brand's content will get an account banned from whoaverse - it's called vote cheating and manipulation.</li>
            <li>You should not ask for votes on whoaverse, even on your twitter or blog or forum - it will get your account banned, and in extreme cases can get your domain banned.</li>
            <li>You should join subverses that are relevant to your interests. Give feedback to others, talk about issues that interest you, and be a good member of the community. Users don't care that you have something to promote, they care what you think and that you have interesting things to say.</li>
            <li>
                You should check your domain page from time to time - it is located at whoaverse.com/domain/yourdomainhere.com
                - check out what people are saying, what stuff of yours people like, and participate in the comments
                if people have questions or comments about something you've done. Identify yourself and be transparent: "Hi, I'm the author of this article, and I can answer the question you have about that..." But don't blindly upvote everything there or try to manipulate voting in any way - if your stuff is good, people will vote for it.
            </li>
            <li>After you have found a subverse that relates to something you'd like to submit, you should read the sidebar to see if your link is appropriate there. If you're not sure, message the moderators and ask! Every subverse is run by different moderators and have different rules. If your link isn't okay in one subverse, look for a different one on a similar topic that might find it welcome.</li>
        </ul>

        <p class="heading-2">How do you get to be a moderator?</p>
        If you create a subverse you will automatically become its moderator.
        If you'd like to become a moderator of an existing subverse, ask one of the community's moderators! Many subverses actively look for volunteers, so feel free to head on over to /v/needamod and see who needs help.
        If you find an abandoned subverse, a final option would be to check out /v/subverserequest and make a post requesting to be a moderator.

    </div>

</div>
