

@{
    ViewBag.Title = "The Others";
}

<div class="content error-page" role="main">

    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Hmmm...</h3>
            </div>
            <div class="panel-body centered">
                <span style="font-size:10em;font-family:Verdana;">O_o</span>
                <p>
                    This is not the place you think it is.
                </p>
            </div>
        </div>
    </div>
</div>