@*
    
    Copyright(c) Voat, Inc.

    This file is part of Voat.

    This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl-3.0.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an
    "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express
    or implied. See the License for the specific language governing
    rights and limitations under the License.

    All Rights Reserved.

*@

@{
    ViewBag.Title = "Subverse Disabled";
}

<div class="content error-page" role="main">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.SubverseName Disabled</h3>
            </div>
            <div class="panel-body centered">
                <h1>The subverse you were looking for has been disabled and is no longer accessible.</h1>
                <p>If you are a moderator of this subverse you may contact Voat for information regarding why this subverse is no longer active.</p>
                <p class="text-center">
                    <a href="~/"><img src="~/Graphics/404.png" style="width:100%;max-width:450px;" class="img-responsive center-block" alt="Whoopsie Daisy!" /></a>
                </p>
            </div>
        </div>
    </div>
</div>

