@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    ViewBag.Title = "Warning: This subverse is Not Safe For Work";
}

<style>
    .p {
        font-size: 35px;
    }
</style>

<div id="container">
    <div>
        <div class="centered">
            <h1 class="red">Warning!</h1>
            <h1>The content of this subverse is Not Safe For Work!</h1>
            <h1>Your user preferences are set to hide adult content.</h1>
            <p>
                <a class="btn-whoaverse" href="/">Take me to the FrontPage</a>
            </p>
        </div>
    </div>
</div>
