@model VoteRestriction

<div data-voat-item="Restrictions">
    <div class="form-horizontal" role="form">

        @Html.Partial("_Header", Model)

        <input asp-for="ID" type="hidden" data-voat-field="Restrictions">
        <input asp-for="TypeName" type="hidden" data-voat-field="Restrictions">
        
        @if (Model is ContributionRestriction content)
        {
            @Html.Partial("_EditContentRestriction", content)
        }
        else if (Model is SubscriberRestriction subscriber)
        {
            @Html.Partial("_EditBaseRestriction", subscriber)
        }
        else if (Model is MemberAgeRestriction member)
        {
            @Html.Partial("_EditBaseRestriction", member)
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn-voat" onclick="voat.voting.removeItem(this, '*[data-voat-item=\'Restrictions\']');">Remove</button>
            </div>
        </div>
    </div>
</div>
