@model RemoveModeratorOutcome

<div class="form-group">
    <label class="col-md-2 control-label" asp-for="UserName"></label>
    <div class="col-md-4">
        <input asp-for="UserName" class="form-control" type="text" data-voat-field="Outcomes">
        <span asp-validation-for="UserName"></span>
    </div>
</div>


       
