
@model VoteRestriction

<div class="form-group">
    <label class="col-md-2 control-label" asp-for="Duration"></label>
    <div class="col-md-2">
        <input asp-for="Duration" class="form-control" type="text" data-voat-field="Restrictions">
        <span asp-validation-for="Duration"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" asp-for="EndDate"></label>
    <div class="col-md-2">
        <input asp-for="EndDate" class="form-control" type="date" style="line-height:100%" data-voat-field="Restrictions">
        <span asp-validation-for="EndDate"></span>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" asp-for="Group"></label>
    <div class="col-md-2">
        <input asp-for="Group" class="form-control" type="text" data-voat-field="Restrictions">
        <span asp-validation-for="Group"></span>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <p>Used to group multiple restrictions by name.</p>
        <p>One group must be satisfied for restrictions to pass. (Optional, Advanced)</p>    
    </div>
</div>
