@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    var setUrl = "/set/" + ViewData["setId"];
    int setId = (int) ViewData["setId"];
}

@if (User.Identity.IsAuthenticated)
{
    <div class="set-title dragHandle">
        <p class="title dragHandle">
            <span class="settitlelabel">
                <a href="@setUrl">@ViewData["setTitle"]</a>
            </span>
            <span class="settitlesortinglabel" style="cursor: pointer" onclick="sortSetByHot();">
                hot
            </span>
            <span class="settitlesortinglabel" style="cursor: pointer" onclick="sortSetByNew();">
                new
            </span>
            <span class="label label-default" style="float: right; margin-right: 2px; cursor: pointer" onclick="removeSet();">
                x
            </span>
            <span class="label label-default" style="float: right; margin-right: 2px; cursor: pointer" onclick="moveSetUp();">
                ↥
            </span>
            <span class="label label-default" style="float: right; margin-right: 2px; cursor: pointer" onclick="moveSetDown();">
                ↧
            </span>
            @if (UserHelper.IsUserSetOwner(User.Identity.Name, setId))
            {
                <span class="label label-default" style="float: right; margin-right: 2px; cursor: pointer">
                    <a href="@setUrl/edit">edit</a>
                </span>
            }
        </p>
    </div>
}
else
{
    <div class="set-title dragHandle">
        <p class="title dragHandle">
            <span class="settitlelabel">
                <a href="@setUrl">@ViewData["setTitle"]</a>
            </span>
            <span class="settitlesortinglabel" style="cursor: pointer" onclick="sortSetByHot();">
                hot
            </span>
            <span class="settitlesortinglabel" style="cursor: pointer" onclick="sortSetByNew();">
                new
            </span>
            <span class="label label-default" style="float: right; margin-right: 2px; cursor: pointer" onclick="mustLogin();">
                x
            </span>
            <span class="label label-default" style="float: right; margin-right: 2px; cursor: pointer" onclick="mustLogin();">
                ↥
            </span>
            <span class="label label-default" style="float: right; margin-right: 2px; cursor: pointer" onclick="mustLogin();">
                ↧
            </span>
            <span class="label label-default" style="float: right; margin-right: 2px; cursor: pointer" onclick="mustLogin();">
                edit
            </span>
            <span class="label label-default" style="float: right; margin-right: 2px">
                more »
            </span>
        </p>
    </div>
}


