@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model PaginatedList<Voat.Data.Models.UserSetList>

@{
    ViewBag.Title = Settings.SiteSlogan;
}

@using System.Configuration
@using Voat.Models.ViewModels

<div id="container">
    <div class="side">
        <div class="spacer">
            <div class="sidebox create">
                <a href="/sets/recommended" class="btn-whoaverse btn-block">
                    Recommended sets
                </a>
            </div>
        </div>
        <div class="spacer">
            <div class="sidebox create">
                <a href="/sets" class="btn-whoaverse btn-block">
                    Popular sets
                </a>
            </div>
        </div>
        <div class="spacer">
            <div class="sidebox create">
                <a href="/sets/create" class="btn-whoaverse btn-block">
                    Create a new set
                </a>
            </div>
        </div>
        <div class="spacer">
            <div class="sidebox create">
                <a href="/mysets/manage" class="btn-whoaverse btn-block">
                    Manage your sets
                </a>
            </div>
        </div>
    </div>
    <div class="content" role="main">

        <div class="sitetable">

            <div class="alert alert-firsttimevisitorwelcome alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                This feature is under development. Feel free to look around but don't expect things to be working.
            </div>

            @if (UserHelper.SetsSubscriptionCount(User.Identity.Name) > 0)
            {
                <div class="alert-title">Your set subscriptions</div>

                foreach (var set in Model)
                {
                    var viewModel = new SetDetailsViewModel
                    {
                        CreatedBy = set.UserSet.CreatedBy,
                        CreationDate = set.UserSet.CreationDate,
                        Description = set.UserSet.Description,
                        Id = set.UserSet.ID,
                        Name = set.UserSet.Name,
                        Public = set.UserSet.IsPublic,
                        Subscribers = set.UserSet.SubscriberCount,
                        SubversesList = set.UserSet.UserSetLists.ToList()
                    };

                    @Html.Partial("_SetDetails", viewModel)
                }
            }
            else
            {
                <div class="alert-notice">
                    <p>You are not subscribed to any sets. Here are 40 most popular sets:</p>
                </div>

                Html.RenderAction("PopularSets", "Sets");
            }
        </div>

        <div class="pagination-container">
            <ul>
                @if (Model.HasPreviousPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("‹ prev", "Index", new { page = (Model.PageIndex - 1) }, new { rel = "prev" })
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="btn-whoaverse-paging">
                        @Html.RouteLink("next ›", "Index", new { page = (Model.PageIndex + 1) }, new { rel = "next" })
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
