<div class="spacer">
    <div class="sidecontentbox ">
        <div class="title">
            <h1 class="alert-h1">SITE LOGS</h1>
        </div>
        <ul class="content">
            <li><a rel="nofollow" href="/log/banned/user">Banned users</a></li>
            <li><a rel="nofollow" href="/log/banned/domain">Banned domains</a></li>
        </ul>
    </div>
</div>
