<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="voatEntities" connectionString="metadata=res://Voat.Data/Models.VoatEntityDataModel.csdl|res://Voat.Data/Models.VoatEntityDataModel.ssdl|res://Voat.Data/Models.VoatEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={server};initial catalog={database};User ID={userid};Password={password};persist security info=True;MultipleActiveResultSets=True;App=Voat.Data;Max Pool Size=1024;Pooling=true;Timeout=60;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

</configuration>
