
@model string
<div class="spacer">
    <div class="sidecontentbox ">
        <div class="title">
            <h1 class="alert-h1">MODERATION LOGS</h1>
        </div>
        <ul class="content">
            <li><a rel="nofollow" href="/v/@Model/modlog/submission">Removed submissions</a></li>
            <li><a rel="nofollow" href="/v/@Model/modlog/comment">Removed comments</a></li>
            <li><a rel="nofollow" href="/v/@Model/modlog/banned">Banned users</a></li>
        </ul>
    </div>
</div>