@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    int submissionId = Convert.ToInt32(ViewData["submissionId"]);
}

<form class="toggle del-button " action="#" method="get">
    <input class="active" name="executed" value="deleted" type="hidden">
    <span class="option main active">
        <a href="javascript:void(0)" class="togglebutton" onclick="return togglesubmission(this, @submissionId)">delete</a>
    </span>
    <span class="option error" id="deletestatusmesssage">
        are you sure?  <a href="javascript:void(0)" class="yes" onclick="deletesubmission(this, @submissionId)">yes</a> / <a href="javascript:void(0)" class="no" onclick="return togglesubmissionback(this)">no</a>
    </span>
</form>
