@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div id="container">
    <div id="about-main" role="main">

        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <h2>
                Please check your email to reset your password.
            </h2>
        </div>

    </div>
</div>