@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    ViewBag.Title = "Welcome to Voat";
}
<style>
    .p {
        font-size: 35px;
    }
</style>

<div id="about-main" class="content about-page" role="main">
    <div class="container">
        <h1>Welcome!</h1>
        <h1>Here are some tips to help you get the most out of Voat</h1>
        <p class="intro-text">
            You are currently not subscribed to any subverses. We suggest that you subscribe to subverses that interest you in order to best experience Voat.<br />
            Subscribing is and will always be free.
        </p>
        <h1>Why should I subscribe to a subverse?</h1>
        <p class="intro-text">
            Subscribing to a subverse means that you will be served a personalized frontpage containing only submissions from subverses you are subscribed to.<br />
            If you only subscribe to one subverse, your frontpage will only display submissions from that particular subverse. We suggest to subscribe to multiple subverses to get varying content that suits you best.
        </p>
        <h1>How can I subscribe?</h1>
        <div class="circle-step">1</div>
        <div style="display: inline-block;">
            <p class="intro-text">
                You can start by <a href="/subverses" target="_blank">browsing the list of subverses</a>.
                <br />
            </p>
        </div>
        <br /><br />
        <div class="circle-step">2</div>
        <div style="display: inline-block;">
            <p class="intro-text">
                When you find a subverse that interests you, click the subscribe button to subscribe to that subverse.
            </p>
        </div>
        <br /><br />
        <div class="circle-step">3</div>
        <div style="display: inline-block;">
            <p class="intro-text">
                We suggest that you subscribe to at least 10 different subverses in order to get more varying content on your frontpage.
            </p>
        </div>
        <h1>Enable night-mode, add a profile photo/avatar & short bio</h1>
        <p class="intro-text">
            Don't forget to visit your <a href="/account/manage">account management page</a>. From there, you can enable night-mode, add a profile photo or avatar, write a short bio and personalize your account.
        </p>
    </div>
</div>