@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model Whoaverse.Models.Message

<!-- show top 200 submission comments, orderby number of votes each comment has received -->
<div class='commentarea'>
    <div>
        <h2><span class="label label-default">top 200 comments</span>&nbsp;<a href="#" class="title-button ">show 500</a></h2>
        <br />
        <br />
    </div>

    <div id="siteTable_t3_24nbon" class="sitetable nestedlisting">

        @{
            var firstComments = from f in Model.Comments
                                let commentScore = f.Likes - f.Dislikes
                                where f.ParentId == null
                                orderby commentScore descending
                                select f;

            foreach (var firstComment in firstComments)
            {
                if (firstComment.Name == "deleted" && Model.Comments.Where(A => A.ParentId == firstComment.Id).Count() == 0)
                {
                    continue;
                }

                <div class="thread id-@firstComment.Id comment " data-fullname=" t1_cgkmgmm" data-ups="1" data-downs="0">
                    @Html.Partial("_SubmissionComment", Model, new ViewDataDictionary { { "CommentId", firstComment.Id } })
                </div>
            }
        }

    </div>

</div>
