@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@


@{
    ViewBag.Title = "Intro";
}


<div id="about-main" class="content about-page" role="main">

    <h1>What is Whoaverse?</h1>
    <p>
        Whoaverse is a community where people can share ideas, stories and links with other people.
    </p>
    <p>
        <img id="MainContent_WhoaverseMascot" title="Whoaverse mascot" src="Graphics/whoaverse-mascot.png" style="height:180px;">
    </p>
    <h1>
        How does it work?
    </h1>
    <ul>
        <li>In order to submit a story or a link, you need to <a href="Account/Register">create a free account.</a></li>
        <li>
            Once your account has been created (it usually takes a few seconds), you can start posting stories or links.<br>
            When posting text submissions, you can use <a href="/help/markdown">Markdown</a> to format your message and make it look better.
        </li>
        <li>Whenever you are logged in, you can write comments or vote up/vote down submissions made by other people.</li>
    </ul>
    <h1>Can I downvote everything I don't like?</h1>
    <p>
        Please be fair when downvoting comments or submissions. Just because you don't agree with something, it doesn't mean it's okay to vote it down. Downvoting should be reserved for example, content which does not add to discussion.
    </p>
    <h1>Can I submit any kind of content?</h1>
    <p>
        As long as the content you are submitting is not illegal or spam.
    </p>
    <h1>What do I get in return for submitting stories or links?</h1>
    <p>
        Karma points. People who like the content you submit will usually reward you by upvoting it. This tells you exactly how many people were glad that you shared your stories or links.
    </p>
    <h1>What is a submission?</h1>
    <p>
        Here are a few examples: links to youtube videos, images, news articles, blog posts, questions... you name it. Go nuts! :)
    </p>

</div>