@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@model PagedList.IPagedList<Whoaverse.Models.Comment>

@{
    ViewBag.Title = "overview for " + @ViewBag.userid;
}

@using PagedList.Mvc;

<div class="content" role="main">

    <h2>overview for @ViewBag.userid</h2>
    <hr />

    @foreach (var submission in Model)
    {

        @Html.Partial("Userprofile/_UserProfileComment", submission)

    }

    @{
        if (Model.PageCount > 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("UserProfile", new { page }), Whoaverse.Utils.WhoaversePagerOptions.PagedListRenderOptions())
        }
    }

</div>