@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using Voat.Models
@using Voat.Models.ViewModels
@using Voat.Data.Models

@model CommentBucketViewModel

@{
    int commentContributionPoints = ViewBag.CCP;
    int startingCommentId = ViewBag.StartingCommentId;
    
    usp_CommentTree_Result comment = null;
    comment = Model.CommentTree.Where(x => x.ID == startingCommentId).FirstOrDefault();
}
<div class='commentarea'>
    <div class="alert-singlethread">
        You are viewing a single comment's thread.
        <p>
            <a href="/v/@Model.Subverse.Name/comments/@Model.Submission.ID">view the rest of the comments</a>&nbsp;→
        </p>
    </div>
    <div id="siteTable" class="sitetable nestedlisting">
        @{
            @Html.Partial("~/Views/Shared/Submissions/_SubmissionComment.cshtml", Model, new ViewDataDictionary {
                { "VoteCache", ViewBag.VoteCache },
                { "CommentId", comment.ID },
                { "SingleTree", true },
                { "CCP", commentContributionPoints },
                { "ParentIsHidden", false }, //No parent on a single tree load
                { "CommentToHighlight", ViewBag.CommentToHighLight } })
        }
    </div>
</div>
