
@model Voat.Models.ViewModels.SetViewModel

@if (Model.List.Any())
{
    using (var enumerator = Model.List.GetEnumerator())
    {
        while (enumerator.MoveNext())
        {
            <div class="row">
                <div class="col-md-6">@Html.Partial("_SubverseSubscriptionDetail", enumerator.Current, new ViewDataDictionary() { { "SetViewModel", Model } })</div>
                @if (enumerator.MoveNext())
                {
                    <div class="col-md-6">@Html.Partial("_SubverseSubscriptionDetail", enumerator.Current, new ViewDataDictionary() { { "SetViewModel", Model } })</div>
                }
            </div>
        }
    }
}
else
{
    <div>No subverses</div>
}