@*
    
    Copyright(c) Voat, Inc.

    This file is part of Voat.

    This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl-3.0.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an
    "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express
    or implied. See the License for the specific language governing
    rights and limitations under the License.

    All Rights Reserved.

*@

@{
    ViewBag.Title = "Too many kids";
}
<div class="content error-page" role="main">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Too many kids</h3>
            </div>
            <div class="panel-body centered">
                <p class="h3">@VoatSettings.Instance.SiteName is currently Invite-Only :(</p>
                @if (VoatSettings.Instance.IsVoatBranded)
                {
                    <p class="h6">New registrations are temporarily disabled, check back in a few hours.</p>
                    <p class="h4">Can't wait? Follow <a href="https://twitter.com/voatco">voatco</a> for updates. Maaaaah. (goat sound)</p>
                }
                <p class="text-center">
                    <a href="/"><img src="/images/voat-goat.png" class="img-responsive center-block" alt="Whoopsie Daisy!" style="width: 100%; max-width: 350px;" /></a>
                </p>
            </div>
        </div>
        @if (VoatSettings.Instance.IsVoatBranded)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Stay informed</h3>
                </div>
                <div class="panel-body centered">
                    <p>
                        If you're into that, you could follow <a href="https://twitter.com/voatco">voat @@ twitter</a> and we'll keep you posted when we are back online.
                    </p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact us</h3>
                </div>
                <div class="panel-body centered">
                    <p>For general enquiries, email hello@voat.co. We currently have a huge backlog and we may not reply right away. Thank you for your understanding.</p>
                </div>
            </div>
        }
    </div>
</div>
<div class="footer-container">
    <div class="footer">
        <p class="bottommenu">
            @Html.Raw(VoatSettings.Instance.FooterText)
        </p>
    </div>
</div>
