/*
@import this file directly into your existing Less files to use these mixins
*/
.sprite-Graphics-voat-logo() {
/* You may have to set 'display: block' */
	width: 125px;
	height: 44px;
	background: url('/Graphics/WVSprite.png') -1px -1px;
}
.sprite-Graphics-nsfw-thumb() {
/* You may have to set 'display: block' */
	width: 70px;
	height: 70px;
	background: url('/Graphics/WVSprite.png') -1px -46px;
}
.sprite-Graphics-thumb-placeholder() {
/* You may have to set 'display: block' */
	width: 70px;
	height: 70px;
	background: url('/Graphics/WVSprite.png') -1px -117px;
}
.sprite-Graphics-whoaverse-404() {
/* You may have to set 'display: block' */
	width: 450px;
	height: 405px;
	background: url('/Graphics/WVSprite.png') -1px -188px;
}
.sprite-Graphics-whoaverse-mascot() {
/* You may have to set 'display: block' */
	width: 400px;
	height: 404px;
	background: url('/Graphics/WVSprite.png') -1px -594px;
}
