/*
This is an example of how to use the image sprite in your own CSS files
*/
.arrow-downvote {
/* You may have to set 'display: block' */
	width: 18px;
	height: 19px;
	background: url('WVSprite.png') 0 0;
}
.arrow-downvoted {
/* You may have to set 'display: block' */
	width: 18px;
	height: 19px;
	background: url('WVSprite.png') 0 -19px;
}
.arrow-upvote {
/* You may have to set 'display: block' */
	width: 18px;
	height: 19px;
	background: url('WVSprite.png') 0 -38px;
}
.arrow-upvoted {
/* You may have to set 'display: block' */
	width: 18px;
	height: 19px;
	background: url('WVSprite.png') 0 -57px;
}
.expand-selfpost-hover {
/* You may have to set 'display: block' */
	width: 23px;
	height: 23px;
	background: url('WVSprite.png') 0 -76px;
}
.expand-selfpost {
/* You may have to set 'display: block' */
	width: 23px;
	height: 23px;
	background: url('WVSprite.png') 0 -99px;
}
.thumb-placeholder {
/* You may have to set 'display: block' */
	width: 70px;
	height: 70px;
	background: url('WVSprite.png') 0 -122px;
}
.whoaverse-mascot {
/* You may have to set 'display: block' */
	width: 467px;
	height: 429px;
	background: url('WVSprite.png') 0 -192px;
}
.whoaverse {
/* You may have to set 'display: block' */
	width: 120px;
	height: 43px;
	background: url('WVSprite.png') 0 -621px;
}
.mail-icon {
/* You may have to set 'display: block' */
	width: 15px;
	height: 10px;
	background: url('WVSprite.png') 0 -664px;
}
