@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@{
    ViewBag.Title = "Voat Partner Program";
}

<div id="container">
    <div id="about-main" class="content about-page" role="main">
        <h1>What is Voat partner program?</h1>
        <p>We believe that community behind any successful service is the main reason why a service is succesful.</p>
        <p>Unfortunately, companies that run services with large communities rarely award the people that helped build said communities. In fact, they often do the opposite - they sell out and turn the community into a money-making machine with no regard for privacy of the very users that built said community.</p>
        <p>
            We plan to change all that. We want to not only give Voat company shares to our users, but we also want to try something completely new which we believe was never done before:
            <b>we want to share a fair portion of our ad revenue with the very users who share their original content, the people who write comments and the moderators who keep everything spam free</b>.
        </p>
        <h1>How will you reward users?</h1>
        <p>We are still working out the details of this process and we are open for suggestions. So far the following is being discussed:</p>
        <p>- An option to reward users with a portion of Voat ad-revenue earnings based on the quality of the content they submit to Voat</p>
        <p>- An option to let users donate their earnings to humanitarian causes</p>
        <p>- An option to let users gift their earnings to other Voat users</p>
        <h1>Why reward users?</h1>
        <p>By rewarding content creators, we hope to promote creation of original content. By rewarding people who take their time to write comments and vote, we want to encourage quality of said comments.</p>
        <h1>Won't paying users encourage spam?</h1>
        <p>On the contrary. Criteria for what the term "quality content" is still being discussed, but there will be a strict process and zero tolerance for spam. Only content which community enjoys will be subject for reward.</p>
        <h1>What about payment methods?</h1>
        <p>We plan to use digital currency for easy payments of earnings to users and content creators, but traditional payment methods will also be available.</p>
        <h1>Where do I sign up?</h1>
        We have received a sufficient amount of partnership program registrations for the initial testing stage. Registrations are now closed. Thank you for your interest in the program.
        @*<p>We thought you'd never ask! Our partnership program is still being developed, but you can <a href="/p/apply">go here to sign up</a> and express your interest in the program. We will contact you with further details once we are ready for launch.</p>*@
        <p>If you want to openly discuss our partnership program and submit your ideas or concerns, please start a new discussion in <a href="/v/announcements/comments/30925">the announcement thread</a>.</p>
    </div>
</div>

