body { 
    font: 11px Arial, Android Emoji, Apple Color Emoji, Segoe UI Emoji, Segoe UI, EmojiSymbols, Symbola, Symbola-Emoji, sans-serif; 
} 

@font-face { 
    font-family: Symbola-Emoji; 
    src: url('../fonts/Symbola-Emoji.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/Symbola-Emoji.woff') format('woff'), 
    url('../fonts/Symbola-Emoji.ttf') format('truetype'); 
    /* Emoji unicode blocks */ 
	unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF; 
}
 
/* Markdown Editor */
.markdownEditor{
    display:none;
	max-width: 100%;
	font-size: 11px;
}
.markdownEditorMainMenu{
	margin-top: 5px;
	margin-bottom: 5px;
}
.markdownEditorSubMenu{
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 3px;
	padding: 4px;
	border: 1px solid grey;
	text-align: center;
}
.markdownEditorImgButton{
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	height: 16px;
	width: 32px;
	vertical-align: middle;
	background-color: whitesmoke;
	background-image: url('../Graphics/editorSprite.png');
	border: 1px solid grey;
	box-sizing: content-box;
	cursor: pointer;
}
.markdownEditorTextButton{
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 1px;
	margin-right: 1px;
	padding: 2px;
	max-height: 16px;
	min-width: 32px;
	vertical-align: middle;
	background-color: whitesmoke;
	border: 1px solid grey;
	color: black!important;
	text-decoration: none!important;
	cursor: pointer;
}
@media (min-width: 870px) {
    .markdownEditor { 
        display:block;
    }
}
