/* Styles for validation helpers
-----------------------------------------------------------*/
.validation-summary-errors {
    font-weight: bold;
    padding: 15px;
    border-width: 0 1px 4px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #FF4136;
    border-color: #FF1103;
    color: #FFF;
}

/* the rest of the site 
-----------------------------------------------------------*/
.btn-whoaverse {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #fbfbfb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
}

    .btn-whoaverse:hover {
        background-color: #f6f6f6;
    }

    .btn-whoaverse:active {
        position: relative;
        top: 1px;
    }

    .btn-whoaverse.disabled,
    .btn-whoaverse[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.btn-whoaverse-paging {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #fbfbfb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
}

    .btn-whoaverse-paging:hover {
        background-color: #f6f6f6;
    }

    .btn-whoaverse-paging:active {
        position: relative;
        top: 1px;
    }

    .btn-whoaverse-paging.disabled,
    .btn-whoaverse-paging[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.btn-whoaverse-medium {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #fbfbfb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 10px;
    font-weight: 700;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
}

    .btn-whoaverse-medium:hover {
        background-color: #f6f6f6;
    }

    .btn-whoaverse-medium:active {
        position: relative;
        top: 1px;
    }

    .btn-whoaverse-medium.disabled,
    .btn-whoaverse-medium[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.row {
    margin-bottom: 20px;
    margin-right: 0px;
}

.well {
    padding: 8px;
    border-radius: 2px;
    background-color: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.link .usertext .md {
    background-color: #e0f1f8;
    border: 1px solid #369;
    border-radius: 4px;
}

.promoted {
    background-color: #66c4e0;
    color: #FFF;
    border-radius: 2px;
    padding: 2px 5px;
    min-width: 50px;
    border: medium none;
    text-align: center;
    font-family: Verdana,Geneva,sans-serif;
    font-size: x-small;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    margin-right: 0.5em;
}

.searchresults {
    font-family: Verdana,Geneva,sans-serif;
    background: #fbfbfb;
    border-bottom: 2px solid #5E96CF;
    padding: 6px 6px;
    font-size: 12px;
    height: 30px;
    overflow: hidden;
    margin-right: 0px;
    white-space: nowrap;
    box-shadow: 0 4px 6px -6px black;
}

.circle-step {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    border: 2px solid #FFF !important;
    font-size: 12px;
    color: #fff;
    line-height: 26px;
    text-align: center;
    background: #66c4e0;
    display: inline-block;
}

.subversedescriptionbox {
    border-radius: 4px;
    font-size: 12px;
    color: #666666;
    text-align: left;
    background: #e0f1f8;
    display: inline-block;
    margin-bottom: 5px;
}

.subversedescriptionboxcontent {
    margin: 0px 0px !important;
}

.md td, .md th {
    padding: 1px 3px;
}

.md table {
    border: 2px solid #FFF;
    background-color: #FFF;
    box-shadow: 0px 0px 5px #CCC;
    margin: 1em;
}

.md th {
    color: #222;
    background-color: #EEE;
    border-color: #CCC;
    font-weight: bold;
}

.md blockquote {
    font-size: small;
}

.gray {
    color: #dcdcdc;
}

.eppnotice {
    background-color: #F2F2F2;
    color: #777;
    padding-right: 35px;
    padding: 4px;
    font: x-small verdana,arial,helvetica,sans-serif;
}

.intro-text {
    font-size: 12px;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: none;
}

a,
a:visited {
    text-decoration: none;
}

.form-control {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
}

/* Whoaverse Sprites
-----------------------------------------------------------*/
.arrow-downvote {
    /* You may have to set 'display: block' */
    cursor: pointer;
    width: 18px;
    height: 19px;
    background: url('/Graphics/WVSprite.png') 0 0;
}

.arrow-downvoted {
    /* You may have to set 'display: block' */
    cursor: pointer;
    width: 18px;
    height: 19px;
    background: url('/Graphics/WVSprite.png') 0 -19px;
}

.arrow-upvote {
    /* You may have to set 'display: block' */
    cursor: pointer;
    width: 18px;
    height: 19px;
    background: url('/Graphics/WVSprite.png') 0 -38px;
}

.arrow-upvoted {
    /* You may have to set 'display: block' */
    cursor: pointer;
    width: 18px;
    height: 19px;
    background: url('/Graphics/WVSprite.png') 0 -57px;
}

.expand-selfpost-hover {
    /* You may have to set 'display: block' */
    width: 23px;
    height: 23px;
    background: url('/Graphics/WVSprite.png') 0 -76px;
}

.expand-selfpost {
    /* You may have to set 'display: block' */
    width: 23px;
    height: 23px;
    background: url('/Graphics/WVSprite.png') 0 -99px;
}

.thumb-placeholder {
    /* You may have to set 'display: block' */
    width: 70px;
    height: 70px;
    background: url('/Graphics/WVSprite.png') 0 -122px;
}

.whoaverse-mascot {
    /* You may have to set 'display: block' */
    width: 467px;
    height: 429px;
    background: url('/Graphics/WVSprite.png') 0 -192px;
}

.whoaverse {
    /* You may have to set 'display: block' */
    width: 120px;
    height: 43px;
    background: url('/Graphics/WVSprite.png') 0 -621px;
}

.mail-icon {
    /* You may have to set 'display: block' */
    width: 15px;
    height: 10px;
    background: url('WVSprite.png') 0 -664px;
}

.heading-2 {
    color: #000;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 5.85px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 17.55px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    word-wrap: break-word;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
}

.heading-3 {
    color: #000;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 5.2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10.4px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    word-wrap: break-word;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
}
