/* Styles for validation helpers
-----------------------------------------------------------*/
.validation-summary-errors {
    font-weight: bold;
    padding: 15px;
    border-width: 0 1px 4px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #FF4136;
    border-color: #FF1103;
    color: #FFF;
}

/* TAGS */
.tagline {
    color: #888;
    font-size: x-small;
}

    .tagline .submitter {
        color: #0055df;
    }

    .tagline .moderator {
        color: #228822;
    }

    .tagline .admin {
        color: #ff0011;
    }

/* the rest of the site 
-----------------------------------------------------------*/
.btn-whoaverse {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #fbfbfb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
}

    .btn-whoaverse:hover {
        background-color: #f6f6f6;
    }

    .btn-whoaverse:active {
        position: relative;
        top: 1px;
    }

    .btn-whoaverse.disabled,
    .btn-whoaverse[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.btn-whoaverse-paging {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #fbfbfb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
    padding: 2px 6px;
}

.text-danger:hover{
    color:white;
}

.unreadNotification {
    background-color: #ff9da4 !important;
}

    .pagination-container .btn-whoaverse-paging {
        padding: 0px;
    }

    .pagination-container .btn-whoaverse-paging a {
        display: inline-block;
        height: 16px;
        width: 46px;
        line-height: 16px;
    }

    .btn-whoaverse-paging:hover {
        background-color: #f6f6f6;
    }

    .btn-whoaverse-paging:active {
        position: relative;
        top: 1px;
    }

    .btn-whoaverse-paging.disabled,
    .btn-whoaverse-paging[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.btn-whoaverse-medium {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #fbfbfb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 10px;
    font-weight: 700;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
}

    .btn-whoaverse-medium:hover {
        background-color: #f6f6f6;
    }

    .btn-whoaverse-medium:active {
        position: relative;
        top: 1px;
    }

    .btn-whoaverse-medium.disabled,
    .btn-whoaverse-medium[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.row {
    margin-bottom: 5px;
    margin-right: 0px;
}

.alert-info {
    color: black;
}

.alert {
    border-width: 0px 0px 0px;
    color: white;
}

.paragraph-text-left {
    text-align: left;
    font-size: 12px;
}

.panel {
    border-style: solid;
    border-color: #E7E7E7;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 1px 1px;
    margin-bottom: 2px;
}

.panel-heading-messagetitle {
    padding: 3px 15px;
    border-bottom: 1px solid transparent;
    border-left: 0px;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-message-body {
    padding: 3px 15px;
}

.form-control {
    box-shadow: 0px 0px 0px;
}

.commenttextarea {
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
    display: block;
    padding: 6px 12px;
    width: 40%;
}

.commenttextarea:focus{
    border: 1px solid gray;
}

.ikp {
    cursor: help;
    border-bottom: 1px dotted gray;
}

.sidebar-badge {
    cursor: help;
    border-bottom: 1px dotted gray;
}

.disabled-downvote {
    cursor: help;
}

.message-moderators-temporary-class {
    cursor: help;
}

.submissioninfo {
    border-bottom: 1px solid #66c4e0;
}

.well {
    padding: 8px;
    border-radius: 2px;
    background-color: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.link .usertext .md {
    background-color: #e0f1f8;
    border: 1px solid #369;
    border-radius: 4px;
}

.submissionscore {
    margin-top: 23px;
    color: #FF8B60;
    padding: 2px;
    text-align: center;
    border: 1px solid #F0F0F0;
    display: inline-block;
    border-radius: 4px;
    resize: horizontal;
    min-width: 40px;
}

#header {
    border-bottom: 1px solid #5f99cf;
    position: relative;    
    background-image: url('../Graphics/whoaverse-bg.jpg');
    height: 150px !important;
    z-index: 99;
}

#header-img {
    margin-top: 2px;
    margin-right: 5px;
}

    #header-img.default-header {
        text-indent: -9999px;
        background-image: url(/Graphics/WVSprite.png);
        background-position: 0px -313px;
        background-repeat: no-repeat;
        height: 40px;
        width: 120px;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 3px;
    }

#header-top {
    position: absolute;
    right: 5px;
}

#header-bottom-left {
    font-size: larger;
    margin-top: 89px;
    margin-left: 20px;
}

#header-bottom-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: rgba(155, 204, 255, 1);
    padding: 4px;
    line-height: 12px;
    border-top-left-radius: 7px;
}

.promoted {
    background-color: #66c4e0;
    color: #FFF;
    border-radius: 2px;
    padding: 2px 5px;
    min-width: 50px;
    border: medium none;
    text-align: center;
    font-family: Verdana,Geneva,sans-serif;
    font-size: x-small;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    margin-right: 0.5em;
}

.searchresults {
    font-family: Verdana,Geneva,sans-serif;
    background: #fbfbfb;
    border-bottom: 2px solid #5E96CF;
    padding: 6px 6px;
    font-size: 12px;
    height: 30px;
    overflow: hidden;
    margin-right: 0px;
    white-space: nowrap;
    box-shadow: 0 4px 6px -6px black;
}

.circle-step {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    border: 2px solid #FFF !important;
    font-size: 12px;
    color: #fff;
    line-height: 26px;
    text-align: center;
    background: #66c4e0;
    display: inline-block;
}

.subversedescriptionbox {
    border-radius: 4px;
    font-size: 12px;
    color: #666666;
    text-align: left;
    background: #e0f1f8;
    display: inline-block;
    margin-bottom: 5px;
}

.subversedescriptionboxcontent {
    margin: 0px 0px !important;
}

.md td, .md th {
    padding: 1px 3px;
}

.md table {
    border: 2px solid #FFF;
    background-color: #FFF;
    box-shadow: 0px 0px 5px #CCC;
    margin: 1em;
}

.md th {
    color: #222;
    background-color: #EEE;
    border-color: #CCC;
    font-weight: bold;
}

.md blockquote {
    font-size: small;
}

.gray {
    color: #dcdcdc;
}

.eppnotice {
    background-color: #F2F2F2;
    color: #777;
    padding-right: 35px;
    padding: 4px;
    font: x-small verdana,arial,helvetica,sans-serif;
}

.intro-text {
    font-size: 12px;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: none;
}

a,
a:visited {
    text-decoration: none;
}

.form-control {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
}

/* WHOAVERSE SPRITE
-----------------------------------------------------------*/

.whoaverse_padded {
    /* You may have to set 'display: block' */
    width: 125px;
    height: 44px;
    background: url('/Graphics/WVSprite.png') 0 0;
}

.arrow-downvote {
    /* You may have to set 'display: block' */
    width: 18px;
    height: 19px;
    background: url('/Graphics/WVSprite.png') 0 -44px;
    cursor: pointer;
}

.arrow-downvoted {
    /* You may have to set 'display: block' */
    width: 18px;
    height: 19px;
    background: url('/Graphics/WVSprite.png') 0 -63px;
    cursor: pointer;
}

.arrow-upvote {
    /* You may have to set 'display: block' */
    width: 18px;
    height: 19px;
    background: url('/Graphics/WVSprite.png') 0 -82px;
    cursor: pointer;
}

.arrow-upvoted {
    /* You may have to set 'display: block' */
    width: 18px;
    height: 19px;
    background: url('/Graphics/WVSprite.png') 0 -101px;
    cursor: pointer;
}

.expand-selfpost-hover {
    /* You may have to set 'display: block' */
    width: 23px;
    height: 23px;
    background: url('/Graphics/WVSprite.png') 0 -120px;
}

.expand-selfpost {
    /* You may have to set 'display: block' */
    width: 23px;
    height: 23px;
    background: url('/Graphics/WVSprite.png') 0 -143px;
}

.nsfw-thumb {
    /* You may have to set 'display: block' */
    width: 70px;
    height: 70px;
    background: url('/Graphics/WVSprite.png') 0 -176px;
}

.pattern-welcome {
    /* You may have to set 'display: block' */
    width: 128px;
    height: 128px;
    background: url('/Graphics/WVSprite.png') 0 -246px;
}

.thumb-placeholder {
    /* You may have to set 'display: block' */
    width: 70px;
    height: 70px;
    background: url('/Graphics/WVSprite.png') 0 -374px;
}

.whoaverse-404 {
    /* You may have to set 'display: block' */
    width: 450px;
    height: 405px;
    background: url('/Graphics/WVSprite.png') 0 -444px;
}

.whoaverse-bg {
    /* You may have to set 'display: block' */
    width: 1920px;
    height: 250px;
    background: url('/Graphics/WVSprite.png') 0 -849px;
}

.whoaverse-mascot {
    /* You may have to set 'display: block' */
    width: 400px;
    height: 404px;
    background: url('/Graphics/WVSprite.png') 0 -1099px;
}

.whoaverse {
    /* You may have to set 'display: block' */
    width: 120px;
    height: 43px;
    background: url('/Graphics/WVSprite.png') 0 -1503px;
}

/* END WHOAVERSE SPRITE */


.expando-button {
    float: left;
    height: 23px;
    width: 23px;
    margin: 2px 5px 2px 0;
    background: #ffffff none no-repeat scroll center center;
}

    .expando-button.selftext.collapsed {
        width: 23px;
        height: 23px;
        background: url('/Graphics/WVSprite.png') 0 -143px;
        background-repeat: no-repeat;
    }

        .expando-button.selftext.collapsed:hover, .eb-sch {
            width: 23px;
            height: 23px;
            background: url('/Graphics/WVSprite.png') 0 -120px;
            background-repeat: no-repeat;
        }

    .expando-button.selftext.expanded, .eb-se {
        margin-bottom: 5px;
        background-image: url(/Graphics/WVSprite.png);
        background-position: -29px -584px;
        background-repeat: no-repeat;
    }

        .expando-button.selftext.expanded:hover, .eb-seh {
            background-image: url(/Graphics/WVSprite.png);
            background-position: 0px -584px;
            background-repeat: no-repeat;
        }

    .expando-button.video.collapsed {
        background-image: url(/Graphics/WVSprite.png);
        background-position: -87px -584px;
        background-repeat: no-repeat;
    }

        .expando-button.video.collapsed:hover, .eb-vch {
            background-image: url(/Graphics/WVSprite.png);
            background-position: -58px -584px;
            background-repeat: no-repeat;
        }

    .expando-button.video.expanded, .eb-ve {
        background-image: url(/Graphics/WVSprite.png);
        background-position: -29px -613px;
        background-repeat: no-repeat;
    }

        .expando-button.video.expanded:hover, .eb-veh {
            background-image: url(/Graphics/WVSprite.png);
            background-position: 0px -613px;
            background-repeat: no-repeat;
        }


.thumbnail {
    float: left;
    font-size: 0;
    margin-bottom: 2px;
    overflow: hidden;
    max-width: 70px;
    width: 100%;
    height: 70px;
    margin-right: 5px;
    border: none;
    padding: 0 0 0;
}

    .thumbnail.nsfw {
        width: 70px;
        height: 70px;
        background: url('/Graphics/WVSprite.png') 0 -176px;
        background-repeat: no-repeat;
    }

    .thumbnail.self {
        width: 70px;
        height: 70px;
        background: url('/Graphics/WVSprite.png') 0 -374px;
        background-repeat: no-repeat;
    }

    .thumbnail.default {
        width: 70px;
        height: 70px;
        background: url('/Graphics/WVSprite.png') 0 -374px;
        background-repeat: no-repeat;
    }


#mail {
    position: relative;
    top: 2px;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    width: 15px;
    height: 10px;
}

    #mail.havemail {
        background-repeat: no-repeat;
        width: 15px;
        height: 10px;
        background: url(/Graphics/mail-icon-hasmail.png) repeat scroll transparent;
    }

    #mail.nohavemail {
        width: 15px;
        height: 10px;
        background: url('/Graphics/WVSprite.png') repeat scroll 0 -166px transparent;
        cursor: pointer;
    }

.heading-2 {
    color: #000;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 5.85px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 17.55px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    word-wrap: break-word;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
}

.heading-3 {
    color: #000;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 5.2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10.4px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    word-wrap: break-word;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
}

/* Responsive optimisation for mobile phones */
@media (max-width: 480px) {

    /* make comment text area full width */
    .commenttextarea {
        width: 100%;
    }

    /* disable sidebar */
    .side {
        display: none;
    }
}

/*main menu*/ .whoaSubscriptionMenu {
    margin: 0;
    padding: 0;
}

    .whoaSubscriptionMenu li {
        list-style: none;
        float: left;
    }

        .whoaSubscriptionMenu li a:link, .whoaSubscriptionMenu li a:visited {
            display: block;
            text-decoration: none;        
            padding: 0 2px;    
        }

        /*sub menu*/
        .whoaSubscriptionMenu li ul {
            position: absolute;
            visibility: hidden;
            border-top: 1px solid #fff;
            border-left: 1px solid rgba(0, 0, 0, 0.4);
            border-right: 1px solid rgba(0, 0, 0, 0.4);
            margin: 0;
            padding: 0;
        }

            .whoaSubscriptionMenu li ul li {
                display: inline;
                float: none;
            }

                .whoaSubscriptionMenu li ul li a:link, .whoaSubscriptionMenu li ul li a:visited {
                    background-color: #F0F0F0;
                    width: auto;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
                }

                .whoaSubscriptionMenu li ul li a:hover {
                    background-color: #e0f1f8;
                }
