@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model Voat.Models.ViewModels.CommentBucketViewModel

@{
    int commentContributionPoints = Convert.ToInt32(ViewData["CCP"]);
    int startingPos = Convert.ToInt32(ViewData["StartingPos"]);
    string sortingMode = Convert.ToString(ViewData["SortingMode"]);

    foreach (var firstComment in Model.FirstComments)
    {
        //do not show deleted comments unless they have replies
        if (firstComment.Name == "deleted" && Model.Submission.Comments.Count(a => a.ParentId == firstComment.Id) == 0)
        {
            continue;
        }

        if (firstComment.Likes - firstComment.Dislikes < -3)
        {
            <div class="thread id-@firstComment.Id comment " data-fullname="" data-ups="" data-downs="">
                @Html.Partial("~/Views/Shared/Submissions/_SubmissionComment.cshtml", Model.Submission, new ViewDataDictionary { { "VoteCache", ViewBag.VoteCache }, { "CommentId", firstComment.Id }, { "CCP", commentContributionPoints }, { "parentIsHidden", true }, { "SortingMode", sortingMode } })
            </div>
        }
        else
        {
            <div class="thread id-@firstComment.Id comment " data-fullname="" data-ups="" data-downs="">
                @Html.Partial("~/Views/Shared/Submissions/_SubmissionComment.cshtml", Model.Submission, new ViewDataDictionary { { "VoteCache", ViewBag.VoteCache }, { "CommentId", firstComment.Id }, { "CCP", commentContributionPoints }, { "parentIsHidden", false }, { "SortingMode", sortingMode } })
            </div>
        }
    }

    <div id="comments-@Model.Submission.Id-page" style="display: none">@startingPos</div>
}
