/*
This is an example of how to use the image sprite in your own CSS files
*/
.Graphics-voat-logo {
/* You may have to set 'display: block' */
	width: 112px;
	height: 31px;
	background: url('/Graphics/WVSprite.png') -1px -1px;
}
.Graphics-nsfw-thumb {
/* You may have to set 'display: block' */
	width: 70px;
	height: 70px;
	background: url('/Graphics/WVSprite.png') -1px -33px;
}
.Graphics-thumb-placeholder {
/* You may have to set 'display: block' */
	width: 70px;
	height: 70px;
	background: url('/Graphics/WVSprite.png') -1px -104px;
}
.Graphics-404 {
/* You may have to set 'display: block' */
	width: 450px;
	height: 405px;
	background: url('/Graphics/WVSprite.png') -1px -175px;
}
.Graphics-voat-goat {
/* You may have to set 'display: block' */
	width: 345px;
	height: 252px;
	background: url('/Graphics/WVSprite.png') -1px -581px;
}
