@{
    ViewBag.Title = "Inbox";
}

<style>
    .p {
        font-size: 35px;
    }
</style>

<div id="about-main" class="content about-page" role="main">
    <div class="md">
        <p class="heading-2">Hi there!</p>

        <p class="intro-text">
            Messaging system is currently being developed. Thank you for your patience.
        </p>
    </div>
</div>