@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using Voat.Models.ViewModels

<div class="side">

    @Html.Partial("_SearchMinimal", new SearchViewModel())

    <div class="spacer">
        <a href="/submit?linkpost=true" class="btn-whoaverse btn-block contribute submit-link">
            Share a link
        </a>
    </div>
    <div class="spacer">
        <a href="/submit" class="btn-whoaverse btn-block contribute submit-text">
            Discuss
        </a>
    </div>
    <div class="spacer">
        <div class="sidebox create">
            <a href="/subverses/create" class="btn-whoaverse btn-block">
                Create your own subverse
            </a>
        </div>
    </div>
    @if (!Settings.SetsDisabled)
    {
        <div class="spacer">
            <div class="sidebox create">
                <a href="/sets/create" class="btn-whoaverse btn-block">
                    Create a new set
                </a>
            </div>
        </div>
   }
    <div class="spacer">
        <div class="sidebox">
            <a href="/p/partnerprogram" class="btn-whoaverse btn-block">
                Become a partner
            </a>
        </div>
    </div>
    <div class="spacer">
        <div class="sidebox">
            <a href="/subverses" class="btn-whoaverse btn-block">
                Explore Voat
            </a>
        </div>
    </div>
    <div class="spacer">
        <div class="sidebox">
            <a href="/random" class="btn-whoaverse btn-block">
                Random Subverse
            </a>
        </div>
    </div>
    <div class="spacer">
        <div class="sidebox">
            <a href="/randomnsfw" class="btn-whoaverse btn-block">
                Random NSFW Subverse
            </a>
        </div>
    </div>
    @if (!Settings.SetsDisabled)
    {
        <div class="spacer">
            <div class="sidebox">
                <a href="/sets" class="btn-whoaverse btn-block">
                    Explore Sets
                </a>
            </div>
        </div>
    }
    <div class="spacer spacersection">
        <div class="alert-h1">
            Most viewed in the past 24 hours
        </div>
        <div>
            @{
                Html.RenderAction("TopViewedSubmissions24Hours", "Subverses");
            }
        </div>
    </div>
    <div class="spacer">
        <div class="sidecontentbox ">
            <div class="title">
                <h1 class="alert-h1">Unofficial Voat Mobile Apps</h1>
            </div>
            <div class="sidecontentbox content">
                <p>We love these two, unofficial Android apps for Voat: <a href="https://play.google.com/store/apps/details?id=net.lumigo.vobrowser2">voBrowser</a> and <a href="https://play.google.com/store/apps/details?id=com.SpaceMonkey.Boats">Boats for Voat</a>.
                </p>
                <p>If you see another Voat apps in the wild, do let us know!</p>
            </div>
        </div>
    </div>
    <div class="spacer">
        <div class="sidecontentbox ">
            <div class="title">
                <h1 class="alert-h1">Advertize on Voat</h1>
            </div>
            <div class="sidecontentbox content">
                <p>
                    Your Ad here? Contact us.
                </p>
            </div>
        </div>
    </div>

</div>
