@model Whoaverse.Models.Message

@{
    int commentContributionPoints = 0;
    if (User.Identity.IsAuthenticated)
    {
        commentContributionPoints = Whoaverse.Utils.Karma.CommentKarma(User.Identity.Name);
    }  
}

<div class="submission id-@Model.Id even link self" data-fullname="@Model.Id" data-ups="@Model.Votes" data-downs="">
    <p class="parent"></p>
    <span class="rank"></span>

    @Html.Partial("_votingIconsSubmission", Model, new ViewDataDictionary { { "CCP", commentContributionPoints } })
    @Html.Partial("_StickiedSubmission", Model)

    <div class="child"></div>
    <div class="clearleft"><!--IE6fix--></div>
</div>