@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@using Voat.Models.ViewModels

@{
    ViewBag.Title = "Congratulations, you have discovered one of the Voat secrets!";
}

<div id="container">
    <div class="side">
        @{
            @Html.Partial("_SearchMinimal", new SearchViewModel())
        }
    </div>

    <div class="content" role="main">
        @Html.ActionLink("< Go back to frontpage", "Index", "Home")
        <div class="alert alert-info">
            <p>
                "Do not try and bend the spoon, that's impossible. Instead, only try to realize the truth...there is no spoon. Then you will see it is not the spoon that bends, it is only yourself."
                ―Spoon Boy
            </p>
        </div>
    </div>
</div>
