@using Microsoft.AspNet.Identity
@model Whoaverse.Models.PasswordRecoveryFindUsername

@using (Html.BeginForm("GetUsernameForPasswordRecovery", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()    
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
}
