@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Whoaverse are Copyright (c) 2014 Whoaverse
    All Rights Reserved.*@

@using Whoaverse.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Password Recovery";
}

<div id="about-main" class="content about-page" role="main">

    <div class="row nomargin">
        <div class="well col-md-8">
            @if (ViewBag.HasUsername)
                
            <h1>Password Recovery</h1>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <hr />

        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</div>
