@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

<div class="submission odd link self">
    <p class="parent"></p>
    <div class="midcol unvoted">
        <div class="arrow-upvote"></div>
        <div class="score unvoted">1</div>
        <div class="arrow-downvote"></div>
    </div>
    <div class="scorebar" title="Blue = upvotes, violet = downvotes">
        <div class="scorebar-likes" style="height: 50%"></div>
        <div class="scorebar-dislikes" style="height: 50%"></div>
    </div>
    <div class="entry unvoted">
        <p class="title">
            <span id="linkflair" class="flair"></span>
            <a class="title may-blank " href="#" tabindex="1" title="It feels lonely in here.">It feels lonely in here.</a>
            <span class="domain">(<a href="#">self.notifications</a>)</span>
        </p>
        <p class="tagline">
            submitted
            <time title="@DateTime.Now" datetime="@DateTime.Now">1 minute</time> ago by
            <span class="userattrs">
                <a href="#" class="author may-blank">Voat</a>
            </span>
        </p>
        <div class="expando">
            <form class="usertext" action="#">
                <div class="usertext-body may-blank-within">
                    <div class="md">
                        <p>It sure feels lonely in here. Why not be the first person to <a href="/v/@ViewBag.selectedSubverse/submit?linkpost=true">share a link</a> or <a href="/v/@ViewBag.selectedSubverse/submit">discuss</a>?</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>