@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

<div class="footer-container">
    <div class="footer">
        <div>
            <span class="separator"></span><a href="/about">about</a>
            <span class="separator"></span><a href="/help/faq">faq</a>
            <span class="separator"></span><a href="/help/markdown">markdown</a>
            <span class="separator"></span><a href="https://github.com/voat/voat">source code</a>
            <span class="separator"></span><a href="/api/help">API</a>
            <span class="separator"></span><a href="/rss">RSS</a>
            <span class="separator"></span><a href="/p/partnerprogram">become a partner</a>
        </div>
        <p class="bottommenu">
            Use of this site constitutes acceptance of our <a href="~/help/useragreement">User Agreement</a> and <a href="~/help/privacy">Privacy Policy</a>.
        </p>
        <p class="bottommenu">
            &copy; @DateTime.Now.Year Voat.co. All rights reserved. Voat and the Voat Mascot are trademarks of Voat.co.
        </p>
    </div>
</div>
