@*This source file is subject to version 3 of the GPL license,
    that is bundled with this package in the file LICENSE, and is
    available online at http://www.gnu.org/licenses/gpl.txt;
    you may not use this file except in compliance with the License.

    Software distributed under the License is distributed on an "AS IS" basis,
    WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
    the specific language governing rights and limitations under the License.

    All portions of the code written by Voat are Copyright (c) 2014 Voat
    All Rights Reserved.*@

@model IEnumerable<Voat.Data.Models.DefaultSubverse>

@{
    string showingSubverse;
    string selectedFrontpageClass = "";

    var routeDataObject = ViewContext.RouteData.Values["activeSubverse"];

    if (routeDataObject != null)
    {
        showingSubverse = ViewContext.RouteData.Values["activeSubverse"].ToString();

        if (showingSubverse == "/")
        {
            selectedFrontpageClass = "selected";
        }
    }
    else
    {
        showingSubverse = null;
        selectedFrontpageClass = "";
    }
}

<div id="sr-header-area">
    <div class="width-clip">
        <div class="sr-list">
            <ul class="whoaSubscriptionMenu flat-list sr-bar hover">
                @Html.Partial("_SubscriptionsHoverMenu")
            </ul>

            @if (!Settings.SetsDisabled) {
                <ul class="flat-list sr-bar hover">
                    <li class="setsmenu">
                        <span class="separator">-</span>
                        <a href="/mysets">my sets</a>
                    </li>
                </ul>
            }
            
            <ul class="flat-list sr-bar hover">
                <li class="@selectedFrontpageClass">
                    <span class="separator">-</span>
                    <a href="/">front</a>
                </li>
              
                <li>
                    <span class="separator">-</span>
                    <a href="/v/all">all</a>
                </li>
                @* Add Guest Relative Ranking Front for logged in users to access *@
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <span class="separator">-</span>
                        <a href="/?frontpage=guest">default</a>
                    </li>
                }
                <li>
                    <span class="separator">-</span>
                    <a href="/random" class="random">random</a>
                </li>
            </ul>
            <ul class="flat-list sr-bar hover" id="sr-bar">

                @foreach (var item in Model)
                {
                    string tmpItem = "/v/" + item.Subverse;

                    string selectedClass;
                    if (tmpItem == showingSubverse)
                    {
                        selectedClass = "selected";
                    }
                    else
                    {
                        selectedClass = "";
                    }

                    <li class="@selectedClass">
                        <span class="separator">-</span>
                        <a href="/v/@item.Subverse/">@item.Subverse</a>
                    </li>
                }
            </ul>
        </div><a href="/subverses" id="sr-more-link">more »</a>
        <br />
    </div>
</div>


